.dot-box {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.dot-box-pad {
  padding: 1.25em;
}
.dot-box-main {
  flex-grow: 1;
}
.dot-box_thins .dot-box .dot-box-head .dot-box-pad, .dot-box._thin .dot-box-head .dot-box-pad {
  padding-bottom: 0;
}
.dot-box_thins .dot-box .dot-box-foot .dot-box-pad, .dot-box._thin .dot-box-foot .dot-box-pad {
  padding-top: 0;
}
.dot-box .dot-box {
  min-height: auto;
}