.dot-box {
  display: block;
  background-color: #fff;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.dot-boxes .dot-box {
  margin-bottom: 20px;
}
.dot-boxes .dot-box:last-child {
  margin-bottom: 0;
}
.dot-box_full {
  height: 100%;
}
.dot-box-pad {
  padding: 1.256rem;
}
.dot-box-head + .dot-box-main .dot-box-pad, .dot-box-main + .dot-box-foot .dot-box-pad {
  padding-top: 0;
}
.dot-box-media {
  position: relative;
}
.dot-box-media {
  position: relative;
}
.dot-box-media .dot-box-media219, .dot-box-media .dot-box-media1610, .dot-box-media .dot-box-media169, .dot-box-media .dot-box-media85, .dot-box-media .dot-box-media43, .dot-box-media .dot-box-media32 {
  position: relative;
  height: 0;
}
.dot-box-media32 {
  padding-bottom: 66.66%;
  position: relative;
}
.dot-box-media32 .ratio-area {
  position: absolute;
}
.dot-box-media43 {
  padding-bottom: 75%;
  position: relative;
}
.dot-box-media43 .ratio-area {
  position: absolute;
}
.dot-box-media85 {
  padding-bottom: 62.5%;
  position: relative;
}
.dot-box-media85 .ratio-area {
  position: absolute;
}
.dot-box-media169 {
  padding-bottom: 56.25%;
  position: relative;
}
.dot-box-media169 .ratio-area {
  position: absolute;
}
.dot-box-media1610 {
  padding-bottom: 62.5%;
  position: relative;
}
.dot-box-media1610 .ratio-area {
  position: absolute;
}
.dot-box-media219 {
  padding-bottom: 42.85%;
  position: relative;
}
.dot-box-media219 .ratio-area {
  position: absolute;
}

.dot-box-media-area {
  position: absolute;
  overflow: hidden;
}
.dot-box-media img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
}
.dot-box {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.dot-box-main {
  flex: 1;
}