.dot-nav-vertical li {
  position: relative; }
  .dot-nav-vertical li ul {
    display: none;
    position: absolute;
    left: 0;
    z-index: 901;
    min-width: 200px; }
  .dot-nav-vertical li:hover > ul {
    display: block; }

.dot-nav-vertical a {
  transition-duration: 0.3s;
  transition-property: background-color, color;
  display: block;
  white-space: nowrap; }

.dot-nav-vertical li {
  display: block; }

.dot-nav-horizontal {
  font-size: 0; }
  .dot-nav-horizontal li {
    position: relative; }
    .dot-nav-horizontal li ul {
      display: none;
      position: absolute;
      left: 0;
      z-index: 901;
      min-width: 200px; }
    .dot-nav-horizontal li:hover > ul {
      display: block; }
  .dot-nav-horizontal a {
    transition-duration: 0.3s;
    transition-property: background-color, color;
    display: block;
    white-space: nowrap; }
  .dot-nav-horizontal li {
    display: inline-block;
    font-size: 1rem;
    white-space: nowrap; }

.dot-nav {
  font-size: 0; }
  .dot-nav li {
    position: relative; }
    .dot-nav li ul {
      display: none;
      position: absolute;
      left: 0;
      z-index: 901;
      min-width: 200px; }
    .dot-nav li:hover > ul {
      display: block; }
  .dot-nav a {
    transition-duration: 0.3s;
    transition-property: background-color, color;
    display: block;
    white-space: nowrap; }
  .dot-nav li {
    display: inline-block;
    font-size: 1rem;
    white-space: nowrap; }
    .dot-nav li ul li ul {
      top: 0;
      left: 100%; }
    .dot-nav li ul li {
      display: block; }
