@mixin ng-mat-buttons-reset() {
  .mat-button-toggle {
    &-appearance-standard &-label-content {
      line-height: 36px !important;
    }
  }
}

@mixin ng-mat-reset(){
  @include ng-mat-buttons-reset()
}

@function ng-mat-color($color) {
  $black-87: rgba(0, 0, 0, 0.87);
  $white-87: rgba(0, 0, 0, 0.87);

  @return (
          50: lighten($color, 25%),
          100: lighten($color, 20%),
          200: lighten($color, 15%),
          300: lighten($color, 10%),
          400: lighten($color, 5%),
          500: $color,
          600: darken($color, 3%),
          700: darken($color, 6%),
          800: darken($color, 9%),
          900: darken($color, 12%),
          A100: darken(lighten($color, 35%), 10%),
          A200: darken(lighten($color, 30%), 10%),
          A400: darken(lighten($color, 20%), 10%),
          A700: darken(lighten($color, 10%), 10%),
          contrast: (
                  50: $black-87,
                  100: $black-87,
                  200: $black-87,
                  300: $black-87,
                  400: $black-87,
                  500: white,
                  600: white,
                  700: white,
                  800: $white-87,
                  900: $white-87,
                  A100: $black-87,
                  A200: white,
                  A400: white,
                  A700: white,
          )
  );
}

@mixin ng-set-mat-theme($theme, $light: true) {

  $primary: -primary($theme);
  $accent: -accent($theme);
  $warn: -warn($theme);


  $primary-color: ng-mat-color($primary);
  $accent-color: ng-mat-color($accent);
  $warn-color: ng-mat-color($warn);

  $mat-primary: mat-palette($primary-color);
  $mat-accent: mat-palette($accent-color);
  $mat-warn: mat-palette($warn-color);

  $mat-theme: if($light, mat-light-theme($mat-primary, $mat-accent, $mat-warn), mat-dark-theme($mat-primary, $mat-accent, $mat-warn));

  @include angular-material-theme($mat-theme);
  @include ng-mat-reset();
}