@mixin fx-ripple-rule() {
  .dot-fx {
    &-ripple {
      position: relative;
      overflow: hidden;

      &-instance,
      &:before {
        content: '';
        display:block;
        position: absolute;
        width: 200%;
        height: 0;
        padding-bottom: 200%;
        top: 50%;
        left: 50%;
        background-color: rgba(0, 0, 0, 0.12);
        border-radius: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
        @include animate(0.72s both ease-out) {
          0% {
            transform: translate(-50%, -50%) scale(0);
          }

          35% {
            opacity: 1;
            // transform: translate(-50%, -50%);
          }

          67% {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
          }

          100% {
            opacity: 0;
          }

        }
      }

      &:before {
        display:none;
      }

      &:active,
      &:focus {
        &:before {
          display: block;
        }
      }

      &_js:before {
        display:none !important;
        animation:none;
      }

      $labels: primary accent warn;
    }
  }
}

@mixin fx-ripple-theming($theme) {
  $labels: primary secondary accent warn;
  .dot-fx-ripple {
    @each $label in $labels {
      $color: pick($theme, $label);
      &#{'._'+$label} {
        &:before {
          background-color: rgba(light-shade-tint($theme, $color, 20%), 0.35);
        }
      }
    }
  }
}
