@mixin splash-rule($options: null) {
  $options: rule-arguments($options, z-index);
  $selector: map-get($options, selector);
  $z-index: map-get-if($options, z-index, 1000);
  @at-root #{$selector} {
    &-splash {
      @include position-fixed($z-index);
      text-align:center;
      &-area {
        @extend %center-middles;
      }
      @content;
    }
  }
}

@mixin splash-child-rule($options: null) {
  @include splash-rule(
                  arguments(
                                  $options,
                                  z-index,
                                  (parent-selector: unquote("#{&}"))
                  )
  );
}
