// MAKE THE SHORT NAME AS POSSIBLE
//
// style: (
//   property: value
// );

/// opacity
$DOT-TRANS-STATE: (
        'fade': (
                'opacity': 0
        )
) !default;

/// direction
$DOT-TRANS-MOVE: (
        'top': (
                'transform': translateY(-100%)
        ),
        'right': (
                'transform': translateX(100%)
        ),
        'bottom': (
                'transform': translateY(100%)
        ),
        'left': (
                'transform': translateX(-100%)
        ),
        'top-left': (
                'transform': translate(-100%, -100%)
        ),
        'top-right': (
                'transform': translate(100%, -100%)
        ),
        'bottom-left': (
                'transform': translate(-100%, 100%)
        ),
        'bottom-right': (
                'transform': translate(100%, 100%)
        ),
) !default;

/// size
$DOT-TRANS-SCALE: (
        'up': (
                'transform': scale(1.4)
        ),
        'down': (
                'transform': scale(0.6)
        )
) !default;


/// rotate
$DOT-TRANS-ROTATE: (
        'flip': (
                'transform': rotateY(0.5turn)
        ),
        'spin': (
                'transform': rotate(-90deg)
        )
) !default;

/// @description
///   order use to the naming.
///   fade-top-up-spin
$DOT-TRANS-KEYFRAMES: (
        $DOT-TRANS-STATE,
        $DOT-TRANS-MOVE,
        $DOT-TRANS-SCALE,
        $DOT-TRANS-ROTATE
) !default;


$DOT-KEYFRAME-DELAYS: (
        0.05s,
        0.1s,
        0.2s,
        0.4s 0.6s
)