

@import './variables';

@mixin loader-rule() {
  $box-size: 1.5em;
  $border-size: 0.125em;
  $content-size: $box-size - ($border-size * 2);
  $radius-size: 50%;
  $color: lighten(#000, 50%);
  $duration: .48s;
  $x1: $duration;
  $x2: $duration * 2;
  $x3: $duration * 3;
  $x4: $duration * 4;
  $x5: $duration * 5;

  $perspective: 512px;

  .dot-loader {
    display: inline-block;

    @include animate($x1 both) {
      from {
        opacity: 0;
      }
    }

    span {
      display: block;
      position: relative;
      width: $box-size;
      height: $box-size;
    }

    b {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }

    &._circle {
      span {
        @include animate($x3 linear infinite) {
          to {
            transform: rotate(360deg);
          }
        }
      }

      b {
        width: $content-size;
        height: $content-size;
        border: solid $color $border-size;
        border-radius: $radius-size;
        border-right-color: transparent !important;

        @include animate($x2 infinite) {
          to {
            transform: rotate(360deg);
          }
        }

        &:nth-child(1) {
          display: block;
        }
      }
    }

    &._flip {
      b {
        background-color: $color;


        width: 100%;
        height: 100%;
        perspective: $perspective;
        @include animate($x2 linear infinite) {
          50% {
            transform: rotateX(180deg);
          }
          100% {
            transform: rotateX(180deg) rotateY(180deg);
          }
        }

        &:nth-child(1) {
          display: block;
        }
      }
    }

    &._flip9 {
      b {
        background-color: $color;

        width: 33.33%;
        height: 33.33%;
        perspective: $perspective;
        display: block;

        @include animate($x5 both infinite) {
          0% {
            transform: scale(1);
          }
          100% {
            transform: scale(1) rotateX(-180deg) rotateY(180deg);
          }
        }

        &:nth-child(2),
        &:nth-child(5),
        &:nth-child(8) {
          left: 33.33%;
        }

        &:nth-child(3),
        &:nth-child(6),
        &:nth-child(9) {
          left: 66.66%;
        }

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          top: 33.33%;
        }

        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
          top: 66.66%;
        }

        &:nth-child(6),
        &:nth-child(8) {
          animation-delay: $x1;
        }

        &:nth-child(3),
        &:nth-child(5),
        &:nth-child(7) {
          animation-delay: $x2;
        }

        &:nth-child(2),
        &:nth-child(4) {
          animation-delay: $x3;
        }

        &:nth-child(1) {
          animation-delay: $x4;
        }
      }
    }

    &._bar {
      b {
        background-color: $color;

        width: 15.626%;
        height: 100%;

        @include animate($x2 infinite) {
          50% {
            transform: scaleY(0.46);
          }
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          display: block;
        }

        &:nth-child(2) {
          left: 28.126%;
          animation-delay: ($x1 / 4);
        }

        &:nth-child(3) {
          left: 56.252%;
          animation-delay: ($x2 / 4);
        }

        &:nth-child(4) {
          left: 84.378%;
          animation-delay: ($x3 / 4);
        }
      }
    }
  }
}

@mixin loader-theming($theme) {

  $labels: text primary accent warn;

  .dot-loader {
    @each $label in $labels {
      $color: pick($theme, $label);
      $label-query: if($label == 'text', '', '._'+$label);
      &#{$label-query} {

        &._circle {
          b {
            border-color: $color;
          }
        }

        &._flip, &._flip9, &._bar {
          b {
            background-color: $color;
          }
        }
      }
    }
  }
}
