#dot-head-area,
#dot-main-area,
#dot-foot-area {
  position: relative;
}

#dot-head-area,
#dot-main-area,
#dot-foot-area,
.dot-area {
  transition-duration: 0.24s;
  transition-property: width;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}
#dot-head-area._resize,
#dot-main-area._resize,
#dot-foot-area._resize,
.dot-area._resize {
  min-width: inherit;
  width: 100%;
}

._mn42 #dot-head-area,
._mn42 #dot-main-area,
._mn42 #dot-foot-area,
._mn42 .dot-area {
  min-width: 425px;
}

._mn48 #dot-head-area,
._mn48 #dot-main-area,
._mn48 #dot-foot-area,
._mn48 .dot-area {
  min-width: 480px;
}

._mn54 #dot-head-area,
._mn54 #dot-main-area,
._mn54 #dot-foot-area,
._mn54 .dot-area {
  min-width: 540px;
}

._mn64 #dot-head-area,
._mn64 #dot-main-area,
._mn64 #dot-foot-area,
._mn64 .dot-area {
  min-width: 640px;
}

._mn76 #dot-head-area,
._mn76 #dot-main-area,
._mn76 #dot-foot-area,
._mn76 .dot-area {
  min-width: 768px;
}

._mn10 #dot-head-area,
._mn10 #dot-main-area,
._mn10 #dot-foot-area,
._mn10 .dot-area {
  min-width: 1000px;
}

@media only screen and (min-width: 1000px) {
  ._mx24, ._mx24 #dot-head-area,
._mx24 #dot-main-area,
._mx24 #dot-foot-area,
._mx24 .dot-area, ._mx22, ._mx22 #dot-head-area,
._mx22 #dot-main-area,
._mx22 #dot-foot-area,
._mx22 .dot-area, ._mx20, ._mx20 #dot-head-area,
._mx20 #dot-main-area,
._mx20 #dot-foot-area,
._mx20 .dot-area, ._mx18, ._mx18 #dot-head-area,
._mx18 #dot-main-area,
._mx18 #dot-foot-area,
._mx18 .dot-area, ._mx16, ._mx16 #dot-head-area,
._mx16 #dot-main-area,
._mx16 #dot-foot-area,
._mx16 .dot-area, ._mx14, ._mx14 #dot-head-area,
._mx14 #dot-main-area,
._mx14 #dot-foot-area,
._mx14 .dot-area, ._mx12, ._mx12 #dot-head-area,
._mx12 #dot-main-area,
._mx12 #dot-foot-area,
._mx12 .dot-area, ._mx10, ._mx10 #dot-head-area,
._mx10 #dot-main-area,
._mx10 #dot-foot-area,
._mx10 .dot-area, ._mx76, ._mx76 #dot-head-area,
._mx76 #dot-main-area,
._mx76 #dot-foot-area,
._mx76 .dot-area, ._mx64, ._mx64 #dot-head-area,
._mx64 #dot-main-area,
._mx64 #dot-foot-area,
._mx64 .dot-area, ._mx54, ._mx54 #dot-head-area,
._mx54 #dot-main-area,
._mx54 #dot-foot-area,
._mx54 .dot-area, ._mx48, ._mx48 #dot-head-area,
._mx48 #dot-main-area,
._mx48 #dot-foot-area,
._mx48 .dot-area, ._mx42, ._mx42 #dot-head-area,
._mx42 #dot-main-area,
._mx42 #dot-foot-area,
._mx42 .dot-area, ._mx32, ._mx32 #dot-head-area,
._mx32 #dot-main-area,
._mx32 #dot-foot-area,
._mx32 .dot-area {
    width: 1000px;
  }

  ._mx24 ._mx32, ._mx22 ._mx32, ._mx20 ._mx32, ._mx18 ._mx32, ._mx16 ._mx32, ._mx14 ._mx32, ._mx12 ._mx32, ._mx10 ._mx32, ._mx76 ._mx32, ._mx64 ._mx32, ._mx54 ._mx32, ._mx48 ._mx32, ._mx42 ._mx32 {
    width: 320px;
  }
}
@media only screen and (min-width: 1200px) {
  ._mx24, ._mx24 #dot-head-area,
._mx24 #dot-main-area,
._mx24 #dot-foot-area,
._mx24 .dot-area, ._mx22, ._mx22 #dot-head-area,
._mx22 #dot-main-area,
._mx22 #dot-foot-area,
._mx22 .dot-area, ._mx20, ._mx20 #dot-head-area,
._mx20 #dot-main-area,
._mx20 #dot-foot-area,
._mx20 .dot-area, ._mx18, ._mx18 #dot-head-area,
._mx18 #dot-main-area,
._mx18 #dot-foot-area,
._mx18 .dot-area, ._mx16, ._mx16 #dot-head-area,
._mx16 #dot-main-area,
._mx16 #dot-foot-area,
._mx16 .dot-area, ._mx14, ._mx14 #dot-head-area,
._mx14 #dot-main-area,
._mx14 #dot-foot-area,
._mx14 .dot-area, ._mx12, ._mx12 #dot-head-area,
._mx12 #dot-main-area,
._mx12 #dot-foot-area,
._mx12 .dot-area, ._mx10, ._mx10 #dot-head-area,
._mx10 #dot-main-area,
._mx10 #dot-foot-area,
._mx10 .dot-area, ._mx76, ._mx76 #dot-head-area,
._mx76 #dot-main-area,
._mx76 #dot-foot-area,
._mx76 .dot-area, ._mx64, ._mx64 #dot-head-area,
._mx64 #dot-main-area,
._mx64 #dot-foot-area,
._mx64 .dot-area, ._mx54, ._mx54 #dot-head-area,
._mx54 #dot-main-area,
._mx54 #dot-foot-area,
._mx54 .dot-area, ._mx48, ._mx48 #dot-head-area,
._mx48 #dot-main-area,
._mx48 #dot-foot-area,
._mx48 .dot-area, ._mx42, ._mx42 #dot-head-area,
._mx42 #dot-main-area,
._mx42 #dot-foot-area,
._mx42 .dot-area {
    width: 1200px;
  }

  ._mx24 ._mx32, ._mx22 ._mx32, ._mx20 ._mx32, ._mx18 ._mx32, ._mx16 ._mx32, ._mx14 ._mx32, ._mx12 ._mx32, ._mx10 ._mx32, ._mx76 ._mx32, ._mx64 ._mx32, ._mx54 ._mx32, ._mx48 ._mx32, ._mx42 ._mx32 {
    width: 320px;
  }

  ._mx24 ._mx42, ._mx22 ._mx42, ._mx20 ._mx42, ._mx18 ._mx42, ._mx16 ._mx42, ._mx14 ._mx42, ._mx12 ._mx42, ._mx10 ._mx42, ._mx76 ._mx42, ._mx64 ._mx42, ._mx54 ._mx42, ._mx48 ._mx42 {
    width: 425px;
  }
}
@media only screen and (min-width: 1400px) {
  ._mx24, ._mx24 #dot-head-area,
._mx24 #dot-main-area,
._mx24 #dot-foot-area,
._mx24 .dot-area, ._mx22, ._mx22 #dot-head-area,
._mx22 #dot-main-area,
._mx22 #dot-foot-area,
._mx22 .dot-area, ._mx20, ._mx20 #dot-head-area,
._mx20 #dot-main-area,
._mx20 #dot-foot-area,
._mx20 .dot-area, ._mx18, ._mx18 #dot-head-area,
._mx18 #dot-main-area,
._mx18 #dot-foot-area,
._mx18 .dot-area, ._mx16, ._mx16 #dot-head-area,
._mx16 #dot-main-area,
._mx16 #dot-foot-area,
._mx16 .dot-area, ._mx14, ._mx14 #dot-head-area,
._mx14 #dot-main-area,
._mx14 #dot-foot-area,
._mx14 .dot-area, ._mx12, ._mx12 #dot-head-area,
._mx12 #dot-main-area,
._mx12 #dot-foot-area,
._mx12 .dot-area, ._mx10, ._mx10 #dot-head-area,
._mx10 #dot-main-area,
._mx10 #dot-foot-area,
._mx10 .dot-area, ._mx76, ._mx76 #dot-head-area,
._mx76 #dot-main-area,
._mx76 #dot-foot-area,
._mx76 .dot-area, ._mx64, ._mx64 #dot-head-area,
._mx64 #dot-main-area,
._mx64 #dot-foot-area,
._mx64 .dot-area, ._mx54, ._mx54 #dot-head-area,
._mx54 #dot-main-area,
._mx54 #dot-foot-area,
._mx54 .dot-area, ._mx48, ._mx48 #dot-head-area,
._mx48 #dot-main-area,
._mx48 #dot-foot-area,
._mx48 .dot-area {
    width: 1400px;
  }

  ._mx24 ._mx32, ._mx22 ._mx32, ._mx20 ._mx32, ._mx18 ._mx32, ._mx16 ._mx32, ._mx14 ._mx32, ._mx12 ._mx32, ._mx10 ._mx32, ._mx76 ._mx32, ._mx64 ._mx32, ._mx54 ._mx32, ._mx48 ._mx32 {
    width: 320px;
  }

  ._mx24 ._mx42, ._mx22 ._mx42, ._mx20 ._mx42, ._mx18 ._mx42, ._mx16 ._mx42, ._mx14 ._mx42, ._mx12 ._mx42, ._mx10 ._mx42, ._mx76 ._mx42, ._mx64 ._mx42, ._mx54 ._mx42, ._mx48 ._mx42 {
    width: 425px;
  }

  ._mx24 ._mx48, ._mx22 ._mx48, ._mx20 ._mx48, ._mx18 ._mx48, ._mx16 ._mx48, ._mx14 ._mx48, ._mx12 ._mx48, ._mx10 ._mx48, ._mx76 ._mx48, ._mx64 ._mx48, ._mx54 ._mx48 {
    width: 480px;
  }
}
@media only screen and (min-width: 1600px) {
  ._mx24, ._mx24 #dot-head-area,
._mx24 #dot-main-area,
._mx24 #dot-foot-area,
._mx24 .dot-area, ._mx22, ._mx22 #dot-head-area,
._mx22 #dot-main-area,
._mx22 #dot-foot-area,
._mx22 .dot-area, ._mx20, ._mx20 #dot-head-area,
._mx20 #dot-main-area,
._mx20 #dot-foot-area,
._mx20 .dot-area, ._mx18, ._mx18 #dot-head-area,
._mx18 #dot-main-area,
._mx18 #dot-foot-area,
._mx18 .dot-area, ._mx16, ._mx16 #dot-head-area,
._mx16 #dot-main-area,
._mx16 #dot-foot-area,
._mx16 .dot-area, ._mx14, ._mx14 #dot-head-area,
._mx14 #dot-main-area,
._mx14 #dot-foot-area,
._mx14 .dot-area, ._mx12, ._mx12 #dot-head-area,
._mx12 #dot-main-area,
._mx12 #dot-foot-area,
._mx12 .dot-area, ._mx10, ._mx10 #dot-head-area,
._mx10 #dot-main-area,
._mx10 #dot-foot-area,
._mx10 .dot-area, ._mx76, ._mx76 #dot-head-area,
._mx76 #dot-main-area,
._mx76 #dot-foot-area,
._mx76 .dot-area, ._mx64, ._mx64 #dot-head-area,
._mx64 #dot-main-area,
._mx64 #dot-foot-area,
._mx64 .dot-area, ._mx54, ._mx54 #dot-head-area,
._mx54 #dot-main-area,
._mx54 #dot-foot-area,
._mx54 .dot-area {
    width: 1600px;
  }

  ._mx24 ._mx32, ._mx22 ._mx32, ._mx20 ._mx32, ._mx18 ._mx32, ._mx16 ._mx32, ._mx14 ._mx32, ._mx12 ._mx32, ._mx10 ._mx32, ._mx76 ._mx32, ._mx64 ._mx32, ._mx54 ._mx32 {
    width: 320px;
  }

  ._mx24 ._mx42, ._mx22 ._mx42, ._mx20 ._mx42, ._mx18 ._mx42, ._mx16 ._mx42, ._mx14 ._mx42, ._mx12 ._mx42, ._mx10 ._mx42, ._mx76 ._mx42, ._mx64 ._mx42, ._mx54 ._mx42 {
    width: 425px;
  }

  ._mx24 ._mx48, ._mx22 ._mx48, ._mx20 ._mx48, ._mx18 ._mx48, ._mx16 ._mx48, ._mx14 ._mx48, ._mx12 ._mx48, ._mx10 ._mx48, ._mx76 ._mx48, ._mx64 ._mx48, ._mx54 ._mx48 {
    width: 480px;
  }

  ._mx24 ._mx54, ._mx22 ._mx54, ._mx20 ._mx54, ._mx18 ._mx54, ._mx16 ._mx54, ._mx14 ._mx54, ._mx12 ._mx54, ._mx10 ._mx54, ._mx76 ._mx54, ._mx64 ._mx54 {
    width: 540px;
  }
}
@media only screen and (min-width: 1800px) {
  ._mx24, ._mx24 #dot-head-area,
._mx24 #dot-main-area,
._mx24 #dot-foot-area,
._mx24 .dot-area, ._mx22, ._mx22 #dot-head-area,
._mx22 #dot-main-area,
._mx22 #dot-foot-area,
._mx22 .dot-area, ._mx20, ._mx20 #dot-head-area,
._mx20 #dot-main-area,
._mx20 #dot-foot-area,
._mx20 .dot-area, ._mx18, ._mx18 #dot-head-area,
._mx18 #dot-main-area,
._mx18 #dot-foot-area,
._mx18 .dot-area, ._mx16, ._mx16 #dot-head-area,
._mx16 #dot-main-area,
._mx16 #dot-foot-area,
._mx16 .dot-area, ._mx14, ._mx14 #dot-head-area,
._mx14 #dot-main-area,
._mx14 #dot-foot-area,
._mx14 .dot-area, ._mx12, ._mx12 #dot-head-area,
._mx12 #dot-main-area,
._mx12 #dot-foot-area,
._mx12 .dot-area, ._mx10, ._mx10 #dot-head-area,
._mx10 #dot-main-area,
._mx10 #dot-foot-area,
._mx10 .dot-area, ._mx76, ._mx76 #dot-head-area,
._mx76 #dot-main-area,
._mx76 #dot-foot-area,
._mx76 .dot-area, ._mx64, ._mx64 #dot-head-area,
._mx64 #dot-main-area,
._mx64 #dot-foot-area,
._mx64 .dot-area {
    width: 1800px;
  }

  ._mx24 ._mx32, ._mx22 ._mx32, ._mx20 ._mx32, ._mx18 ._mx32, ._mx16 ._mx32, ._mx14 ._mx32, ._mx12 ._mx32, ._mx10 ._mx32, ._mx76 ._mx32, ._mx64 ._mx32 {
    width: 320px;
  }

  ._mx24 ._mx42, ._mx22 ._mx42, ._mx20 ._mx42, ._mx18 ._mx42, ._mx16 ._mx42, ._mx14 ._mx42, ._mx12 ._mx42, ._mx10 ._mx42, ._mx76 ._mx42, ._mx64 ._mx42 {
    width: 425px;
  }

  ._mx24 ._mx48, ._mx22 ._mx48, ._mx20 ._mx48, ._mx18 ._mx48, ._mx16 ._mx48, ._mx14 ._mx48, ._mx12 ._mx48, ._mx10 ._mx48, ._mx76 ._mx48, ._mx64 ._mx48 {
    width: 480px;
  }

  ._mx24 ._mx54, ._mx22 ._mx54, ._mx20 ._mx54, ._mx18 ._mx54, ._mx16 ._mx54, ._mx14 ._mx54, ._mx12 ._mx54, ._mx10 ._mx54, ._mx76 ._mx54, ._mx64 ._mx54 {
    width: 540px;
  }

  ._mx24 ._mx64, ._mx22 ._mx64, ._mx20 ._mx64, ._mx18 ._mx64, ._mx16 ._mx64, ._mx14 ._mx64, ._mx12 ._mx64, ._mx10 ._mx64, ._mx76 ._mx64 {
    width: 640px;
  }
}
@media only screen and (min-width: 2000px) {
  ._mx24, ._mx24 #dot-head-area,
._mx24 #dot-main-area,
._mx24 #dot-foot-area,
._mx24 .dot-area, ._mx22, ._mx22 #dot-head-area,
._mx22 #dot-main-area,
._mx22 #dot-foot-area,
._mx22 .dot-area, ._mx20, ._mx20 #dot-head-area,
._mx20 #dot-main-area,
._mx20 #dot-foot-area,
._mx20 .dot-area, ._mx18, ._mx18 #dot-head-area,
._mx18 #dot-main-area,
._mx18 #dot-foot-area,
._mx18 .dot-area, ._mx16, ._mx16 #dot-head-area,
._mx16 #dot-main-area,
._mx16 #dot-foot-area,
._mx16 .dot-area, ._mx14, ._mx14 #dot-head-area,
._mx14 #dot-main-area,
._mx14 #dot-foot-area,
._mx14 .dot-area, ._mx12, ._mx12 #dot-head-area,
._mx12 #dot-main-area,
._mx12 #dot-foot-area,
._mx12 .dot-area, ._mx10, ._mx10 #dot-head-area,
._mx10 #dot-main-area,
._mx10 #dot-foot-area,
._mx10 .dot-area, ._mx76, ._mx76 #dot-head-area,
._mx76 #dot-main-area,
._mx76 #dot-foot-area,
._mx76 .dot-area {
    width: 2000px;
  }

  ._mx24 ._mx32, ._mx22 ._mx32, ._mx20 ._mx32, ._mx18 ._mx32, ._mx16 ._mx32, ._mx14 ._mx32, ._mx12 ._mx32, ._mx10 ._mx32, ._mx76 ._mx32 {
    width: 320px;
  }

  ._mx24 ._mx42, ._mx22 ._mx42, ._mx20 ._mx42, ._mx18 ._mx42, ._mx16 ._mx42, ._mx14 ._mx42, ._mx12 ._mx42, ._mx10 ._mx42, ._mx76 ._mx42 {
    width: 425px;
  }

  ._mx24 ._mx48, ._mx22 ._mx48, ._mx20 ._mx48, ._mx18 ._mx48, ._mx16 ._mx48, ._mx14 ._mx48, ._mx12 ._mx48, ._mx10 ._mx48, ._mx76 ._mx48 {
    width: 480px;
  }

  ._mx24 ._mx54, ._mx22 ._mx54, ._mx20 ._mx54, ._mx18 ._mx54, ._mx16 ._mx54, ._mx14 ._mx54, ._mx12 ._mx54, ._mx10 ._mx54, ._mx76 ._mx54 {
    width: 540px;
  }

  ._mx24 ._mx64, ._mx22 ._mx64, ._mx20 ._mx64, ._mx18 ._mx64, ._mx16 ._mx64, ._mx14 ._mx64, ._mx12 ._mx64, ._mx10 ._mx64, ._mx76 ._mx64 {
    width: 640px;
  }

  ._mx24 ._mx76, ._mx22 ._mx76, ._mx20 ._mx76, ._mx18 ._mx76, ._mx16 ._mx76, ._mx14 ._mx76, ._mx12 ._mx76, ._mx10 ._mx76 {
    width: 768px;
  }
}
@media only screen and (min-width: 2200px) {
  ._mx24, ._mx24 #dot-head-area,
._mx24 #dot-main-area,
._mx24 #dot-foot-area,
._mx24 .dot-area, ._mx22, ._mx22 #dot-head-area,
._mx22 #dot-main-area,
._mx22 #dot-foot-area,
._mx22 .dot-area, ._mx20, ._mx20 #dot-head-area,
._mx20 #dot-main-area,
._mx20 #dot-foot-area,
._mx20 .dot-area, ._mx18, ._mx18 #dot-head-area,
._mx18 #dot-main-area,
._mx18 #dot-foot-area,
._mx18 .dot-area, ._mx16, ._mx16 #dot-head-area,
._mx16 #dot-main-area,
._mx16 #dot-foot-area,
._mx16 .dot-area, ._mx14, ._mx14 #dot-head-area,
._mx14 #dot-main-area,
._mx14 #dot-foot-area,
._mx14 .dot-area, ._mx12, ._mx12 #dot-head-area,
._mx12 #dot-main-area,
._mx12 #dot-foot-area,
._mx12 .dot-area, ._mx10, ._mx10 #dot-head-area,
._mx10 #dot-main-area,
._mx10 #dot-foot-area,
._mx10 .dot-area {
    width: 2200px;
  }

  ._mx24 ._mx32, ._mx22 ._mx32, ._mx20 ._mx32, ._mx18 ._mx32, ._mx16 ._mx32, ._mx14 ._mx32, ._mx12 ._mx32, ._mx10 ._mx32 {
    width: 320px;
  }

  ._mx24 ._mx42, ._mx22 ._mx42, ._mx20 ._mx42, ._mx18 ._mx42, ._mx16 ._mx42, ._mx14 ._mx42, ._mx12 ._mx42, ._mx10 ._mx42 {
    width: 425px;
  }

  ._mx24 ._mx48, ._mx22 ._mx48, ._mx20 ._mx48, ._mx18 ._mx48, ._mx16 ._mx48, ._mx14 ._mx48, ._mx12 ._mx48, ._mx10 ._mx48 {
    width: 480px;
  }

  ._mx24 ._mx54, ._mx22 ._mx54, ._mx20 ._mx54, ._mx18 ._mx54, ._mx16 ._mx54, ._mx14 ._mx54, ._mx12 ._mx54, ._mx10 ._mx54 {
    width: 540px;
  }

  ._mx24 ._mx64, ._mx22 ._mx64, ._mx20 ._mx64, ._mx18 ._mx64, ._mx16 ._mx64, ._mx14 ._mx64, ._mx12 ._mx64, ._mx10 ._mx64 {
    width: 640px;
  }

  ._mx24 ._mx76, ._mx22 ._mx76, ._mx20 ._mx76, ._mx18 ._mx76, ._mx16 ._mx76, ._mx14 ._mx76, ._mx12 ._mx76, ._mx10 ._mx76 {
    width: 768px;
  }

  ._mx24 ._mx10, ._mx22 ._mx10, ._mx20 ._mx10, ._mx18 ._mx10, ._mx16 ._mx10, ._mx14 ._mx10, ._mx12 ._mx10 {
    width: 1000px;
  }
}
@media only screen and (min-width: 2400px) {
  ._mx24, ._mx24 #dot-head-area,
._mx24 #dot-main-area,
._mx24 #dot-foot-area,
._mx24 .dot-area, ._mx22, ._mx22 #dot-head-area,
._mx22 #dot-main-area,
._mx22 #dot-foot-area,
._mx22 .dot-area, ._mx20, ._mx20 #dot-head-area,
._mx20 #dot-main-area,
._mx20 #dot-foot-area,
._mx20 .dot-area, ._mx18, ._mx18 #dot-head-area,
._mx18 #dot-main-area,
._mx18 #dot-foot-area,
._mx18 .dot-area, ._mx16, ._mx16 #dot-head-area,
._mx16 #dot-main-area,
._mx16 #dot-foot-area,
._mx16 .dot-area, ._mx14, ._mx14 #dot-head-area,
._mx14 #dot-main-area,
._mx14 #dot-foot-area,
._mx14 .dot-area, ._mx12, ._mx12 #dot-head-area,
._mx12 #dot-main-area,
._mx12 #dot-foot-area,
._mx12 .dot-area {
    width: 2400px;
  }

  ._mx24 ._mx32, ._mx22 ._mx32, ._mx20 ._mx32, ._mx18 ._mx32, ._mx16 ._mx32, ._mx14 ._mx32, ._mx12 ._mx32 {
    width: 320px;
  }

  ._mx24 ._mx42, ._mx22 ._mx42, ._mx20 ._mx42, ._mx18 ._mx42, ._mx16 ._mx42, ._mx14 ._mx42, ._mx12 ._mx42 {
    width: 425px;
  }

  ._mx24 ._mx48, ._mx22 ._mx48, ._mx20 ._mx48, ._mx18 ._mx48, ._mx16 ._mx48, ._mx14 ._mx48, ._mx12 ._mx48 {
    width: 480px;
  }

  ._mx24 ._mx54, ._mx22 ._mx54, ._mx20 ._mx54, ._mx18 ._mx54, ._mx16 ._mx54, ._mx14 ._mx54, ._mx12 ._mx54 {
    width: 540px;
  }

  ._mx24 ._mx64, ._mx22 ._mx64, ._mx20 ._mx64, ._mx18 ._mx64, ._mx16 ._mx64, ._mx14 ._mx64, ._mx12 ._mx64 {
    width: 640px;
  }

  ._mx24 ._mx76, ._mx22 ._mx76, ._mx20 ._mx76, ._mx18 ._mx76, ._mx16 ._mx76, ._mx14 ._mx76, ._mx12 ._mx76 {
    width: 768px;
  }

  ._mx24 ._mx10, ._mx22 ._mx10, ._mx20 ._mx10, ._mx18 ._mx10, ._mx16 ._mx10, ._mx14 ._mx10, ._mx12 ._mx10 {
    width: 1000px;
  }

  ._mx24 ._mx12, ._mx22 ._mx12, ._mx20 ._mx12, ._mx18 ._mx12, ._mx16 ._mx12, ._mx14 ._mx12 {
    width: 1200px;
  }
}