#dot-head-area,
#dot-main-area,
#dot-foot-area {
  position: relative;
}

#dot-head-area,
#dot-main-area,
#dot-foot-area,
.dot-area {
  transition-duration: 0.24s;
  transition-property: width;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}
#dot-head-area._resize,
#dot-main-area._resize,
#dot-foot-area._resize,
.dot-area._resize {
  min-width: inherit;
  width: 100%;
}

._min42 #dot-head-area,
._min42 #dot-main-area,
._min42 #dot-foot-area,
._min42 .dot-area {
  min-width: 425px;
}

._min48 #dot-head-area,
._min48 #dot-main-area,
._min48 #dot-foot-area,
._min48 .dot-area {
  min-width: 480px;
}

._min54 #dot-head-area,
._min54 #dot-main-area,
._min54 #dot-foot-area,
._min54 .dot-area {
  min-width: 540px;
}

._min64 #dot-head-area,
._min64 #dot-main-area,
._min64 #dot-foot-area,
._min64 .dot-area {
  min-width: 640px;
}

._min76 #dot-head-area,
._min76 #dot-main-area,
._min76 #dot-foot-area,
._min76 .dot-area {
  min-width: 768px;
}

._min10 #dot-head-area,
._min10 #dot-main-area,
._min10 #dot-foot-area,
._min10 .dot-area {
  min-width: 1000px;
}

@media only screen and (min-width: 1000px) {
  ._max24, ._max24 #dot-head-area,
._max24 #dot-main-area,
._max24 #dot-foot-area,
._max24 .dot-area, ._max22, ._max22 #dot-head-area,
._max22 #dot-main-area,
._max22 #dot-foot-area,
._max22 .dot-area, ._max20, ._max20 #dot-head-area,
._max20 #dot-main-area,
._max20 #dot-foot-area,
._max20 .dot-area, ._max18, ._max18 #dot-head-area,
._max18 #dot-main-area,
._max18 #dot-foot-area,
._max18 .dot-area, ._max16, ._max16 #dot-head-area,
._max16 #dot-main-area,
._max16 #dot-foot-area,
._max16 .dot-area, ._max14, ._max14 #dot-head-area,
._max14 #dot-main-area,
._max14 #dot-foot-area,
._max14 .dot-area, ._max12, ._max12 #dot-head-area,
._max12 #dot-main-area,
._max12 #dot-foot-area,
._max12 .dot-area, ._max10, ._max10 #dot-head-area,
._max10 #dot-main-area,
._max10 #dot-foot-area,
._max10 .dot-area, ._max76, ._max76 #dot-head-area,
._max76 #dot-main-area,
._max76 #dot-foot-area,
._max76 .dot-area, ._max64, ._max64 #dot-head-area,
._max64 #dot-main-area,
._max64 #dot-foot-area,
._max64 .dot-area, ._max54, ._max54 #dot-head-area,
._max54 #dot-main-area,
._max54 #dot-foot-area,
._max54 .dot-area, ._max48, ._max48 #dot-head-area,
._max48 #dot-main-area,
._max48 #dot-foot-area,
._max48 .dot-area, ._max42, ._max42 #dot-head-area,
._max42 #dot-main-area,
._max42 #dot-foot-area,
._max42 .dot-area, ._max32, ._max32 #dot-head-area,
._max32 #dot-main-area,
._max32 #dot-foot-area,
._max32 .dot-area {
    width: 1000px;
  }

  ._max24 ._max32, ._max22 ._max32, ._max20 ._max32, ._max18 ._max32, ._max16 ._max32, ._max14 ._max32, ._max12 ._max32, ._max10 ._max32, ._max76 ._max32, ._max64 ._max32, ._max54 ._max32, ._max48 ._max32, ._max42 ._max32 {
    width: 320px;
  }
}
@media only screen and (min-width: 1200px) {
  ._max24, ._max24 #dot-head-area,
._max24 #dot-main-area,
._max24 #dot-foot-area,
._max24 .dot-area, ._max22, ._max22 #dot-head-area,
._max22 #dot-main-area,
._max22 #dot-foot-area,
._max22 .dot-area, ._max20, ._max20 #dot-head-area,
._max20 #dot-main-area,
._max20 #dot-foot-area,
._max20 .dot-area, ._max18, ._max18 #dot-head-area,
._max18 #dot-main-area,
._max18 #dot-foot-area,
._max18 .dot-area, ._max16, ._max16 #dot-head-area,
._max16 #dot-main-area,
._max16 #dot-foot-area,
._max16 .dot-area, ._max14, ._max14 #dot-head-area,
._max14 #dot-main-area,
._max14 #dot-foot-area,
._max14 .dot-area, ._max12, ._max12 #dot-head-area,
._max12 #dot-main-area,
._max12 #dot-foot-area,
._max12 .dot-area, ._max10, ._max10 #dot-head-area,
._max10 #dot-main-area,
._max10 #dot-foot-area,
._max10 .dot-area, ._max76, ._max76 #dot-head-area,
._max76 #dot-main-area,
._max76 #dot-foot-area,
._max76 .dot-area, ._max64, ._max64 #dot-head-area,
._max64 #dot-main-area,
._max64 #dot-foot-area,
._max64 .dot-area, ._max54, ._max54 #dot-head-area,
._max54 #dot-main-area,
._max54 #dot-foot-area,
._max54 .dot-area, ._max48, ._max48 #dot-head-area,
._max48 #dot-main-area,
._max48 #dot-foot-area,
._max48 .dot-area, ._max42, ._max42 #dot-head-area,
._max42 #dot-main-area,
._max42 #dot-foot-area,
._max42 .dot-area {
    width: 1200px;
  }

  ._max24 ._max32, ._max22 ._max32, ._max20 ._max32, ._max18 ._max32, ._max16 ._max32, ._max14 ._max32, ._max12 ._max32, ._max10 ._max32, ._max76 ._max32, ._max64 ._max32, ._max54 ._max32, ._max48 ._max32, ._max42 ._max32 {
    width: 320px;
  }

  ._max24 ._max42, ._max22 ._max42, ._max20 ._max42, ._max18 ._max42, ._max16 ._max42, ._max14 ._max42, ._max12 ._max42, ._max10 ._max42, ._max76 ._max42, ._max64 ._max42, ._max54 ._max42, ._max48 ._max42 {
    width: 425px;
  }
}
@media only screen and (min-width: 1400px) {
  ._max24, ._max24 #dot-head-area,
._max24 #dot-main-area,
._max24 #dot-foot-area,
._max24 .dot-area, ._max22, ._max22 #dot-head-area,
._max22 #dot-main-area,
._max22 #dot-foot-area,
._max22 .dot-area, ._max20, ._max20 #dot-head-area,
._max20 #dot-main-area,
._max20 #dot-foot-area,
._max20 .dot-area, ._max18, ._max18 #dot-head-area,
._max18 #dot-main-area,
._max18 #dot-foot-area,
._max18 .dot-area, ._max16, ._max16 #dot-head-area,
._max16 #dot-main-area,
._max16 #dot-foot-area,
._max16 .dot-area, ._max14, ._max14 #dot-head-area,
._max14 #dot-main-area,
._max14 #dot-foot-area,
._max14 .dot-area, ._max12, ._max12 #dot-head-area,
._max12 #dot-main-area,
._max12 #dot-foot-area,
._max12 .dot-area, ._max10, ._max10 #dot-head-area,
._max10 #dot-main-area,
._max10 #dot-foot-area,
._max10 .dot-area, ._max76, ._max76 #dot-head-area,
._max76 #dot-main-area,
._max76 #dot-foot-area,
._max76 .dot-area, ._max64, ._max64 #dot-head-area,
._max64 #dot-main-area,
._max64 #dot-foot-area,
._max64 .dot-area, ._max54, ._max54 #dot-head-area,
._max54 #dot-main-area,
._max54 #dot-foot-area,
._max54 .dot-area, ._max48, ._max48 #dot-head-area,
._max48 #dot-main-area,
._max48 #dot-foot-area,
._max48 .dot-area {
    width: 1400px;
  }

  ._max24 ._max32, ._max22 ._max32, ._max20 ._max32, ._max18 ._max32, ._max16 ._max32, ._max14 ._max32, ._max12 ._max32, ._max10 ._max32, ._max76 ._max32, ._max64 ._max32, ._max54 ._max32, ._max48 ._max32 {
    width: 320px;
  }

  ._max24 ._max42, ._max22 ._max42, ._max20 ._max42, ._max18 ._max42, ._max16 ._max42, ._max14 ._max42, ._max12 ._max42, ._max10 ._max42, ._max76 ._max42, ._max64 ._max42, ._max54 ._max42, ._max48 ._max42 {
    width: 425px;
  }

  ._max24 ._max48, ._max22 ._max48, ._max20 ._max48, ._max18 ._max48, ._max16 ._max48, ._max14 ._max48, ._max12 ._max48, ._max10 ._max48, ._max76 ._max48, ._max64 ._max48, ._max54 ._max48 {
    width: 480px;
  }
}
@media only screen and (min-width: 1600px) {
  ._max24, ._max24 #dot-head-area,
._max24 #dot-main-area,
._max24 #dot-foot-area,
._max24 .dot-area, ._max22, ._max22 #dot-head-area,
._max22 #dot-main-area,
._max22 #dot-foot-area,
._max22 .dot-area, ._max20, ._max20 #dot-head-area,
._max20 #dot-main-area,
._max20 #dot-foot-area,
._max20 .dot-area, ._max18, ._max18 #dot-head-area,
._max18 #dot-main-area,
._max18 #dot-foot-area,
._max18 .dot-area, ._max16, ._max16 #dot-head-area,
._max16 #dot-main-area,
._max16 #dot-foot-area,
._max16 .dot-area, ._max14, ._max14 #dot-head-area,
._max14 #dot-main-area,
._max14 #dot-foot-area,
._max14 .dot-area, ._max12, ._max12 #dot-head-area,
._max12 #dot-main-area,
._max12 #dot-foot-area,
._max12 .dot-area, ._max10, ._max10 #dot-head-area,
._max10 #dot-main-area,
._max10 #dot-foot-area,
._max10 .dot-area, ._max76, ._max76 #dot-head-area,
._max76 #dot-main-area,
._max76 #dot-foot-area,
._max76 .dot-area, ._max64, ._max64 #dot-head-area,
._max64 #dot-main-area,
._max64 #dot-foot-area,
._max64 .dot-area, ._max54, ._max54 #dot-head-area,
._max54 #dot-main-area,
._max54 #dot-foot-area,
._max54 .dot-area {
    width: 1600px;
  }

  ._max24 ._max32, ._max22 ._max32, ._max20 ._max32, ._max18 ._max32, ._max16 ._max32, ._max14 ._max32, ._max12 ._max32, ._max10 ._max32, ._max76 ._max32, ._max64 ._max32, ._max54 ._max32 {
    width: 320px;
  }

  ._max24 ._max42, ._max22 ._max42, ._max20 ._max42, ._max18 ._max42, ._max16 ._max42, ._max14 ._max42, ._max12 ._max42, ._max10 ._max42, ._max76 ._max42, ._max64 ._max42, ._max54 ._max42 {
    width: 425px;
  }

  ._max24 ._max48, ._max22 ._max48, ._max20 ._max48, ._max18 ._max48, ._max16 ._max48, ._max14 ._max48, ._max12 ._max48, ._max10 ._max48, ._max76 ._max48, ._max64 ._max48, ._max54 ._max48 {
    width: 480px;
  }

  ._max24 ._max54, ._max22 ._max54, ._max20 ._max54, ._max18 ._max54, ._max16 ._max54, ._max14 ._max54, ._max12 ._max54, ._max10 ._max54, ._max76 ._max54, ._max64 ._max54 {
    width: 540px;
  }
}
@media only screen and (min-width: 1800px) {
  ._max24, ._max24 #dot-head-area,
._max24 #dot-main-area,
._max24 #dot-foot-area,
._max24 .dot-area, ._max22, ._max22 #dot-head-area,
._max22 #dot-main-area,
._max22 #dot-foot-area,
._max22 .dot-area, ._max20, ._max20 #dot-head-area,
._max20 #dot-main-area,
._max20 #dot-foot-area,
._max20 .dot-area, ._max18, ._max18 #dot-head-area,
._max18 #dot-main-area,
._max18 #dot-foot-area,
._max18 .dot-area, ._max16, ._max16 #dot-head-area,
._max16 #dot-main-area,
._max16 #dot-foot-area,
._max16 .dot-area, ._max14, ._max14 #dot-head-area,
._max14 #dot-main-area,
._max14 #dot-foot-area,
._max14 .dot-area, ._max12, ._max12 #dot-head-area,
._max12 #dot-main-area,
._max12 #dot-foot-area,
._max12 .dot-area, ._max10, ._max10 #dot-head-area,
._max10 #dot-main-area,
._max10 #dot-foot-area,
._max10 .dot-area, ._max76, ._max76 #dot-head-area,
._max76 #dot-main-area,
._max76 #dot-foot-area,
._max76 .dot-area, ._max64, ._max64 #dot-head-area,
._max64 #dot-main-area,
._max64 #dot-foot-area,
._max64 .dot-area {
    width: 1800px;
  }

  ._max24 ._max32, ._max22 ._max32, ._max20 ._max32, ._max18 ._max32, ._max16 ._max32, ._max14 ._max32, ._max12 ._max32, ._max10 ._max32, ._max76 ._max32, ._max64 ._max32 {
    width: 320px;
  }

  ._max24 ._max42, ._max22 ._max42, ._max20 ._max42, ._max18 ._max42, ._max16 ._max42, ._max14 ._max42, ._max12 ._max42, ._max10 ._max42, ._max76 ._max42, ._max64 ._max42 {
    width: 425px;
  }

  ._max24 ._max48, ._max22 ._max48, ._max20 ._max48, ._max18 ._max48, ._max16 ._max48, ._max14 ._max48, ._max12 ._max48, ._max10 ._max48, ._max76 ._max48, ._max64 ._max48 {
    width: 480px;
  }

  ._max24 ._max54, ._max22 ._max54, ._max20 ._max54, ._max18 ._max54, ._max16 ._max54, ._max14 ._max54, ._max12 ._max54, ._max10 ._max54, ._max76 ._max54, ._max64 ._max54 {
    width: 540px;
  }

  ._max24 ._max64, ._max22 ._max64, ._max20 ._max64, ._max18 ._max64, ._max16 ._max64, ._max14 ._max64, ._max12 ._max64, ._max10 ._max64, ._max76 ._max64 {
    width: 640px;
  }
}
@media only screen and (min-width: 2000px) {
  ._max24, ._max24 #dot-head-area,
._max24 #dot-main-area,
._max24 #dot-foot-area,
._max24 .dot-area, ._max22, ._max22 #dot-head-area,
._max22 #dot-main-area,
._max22 #dot-foot-area,
._max22 .dot-area, ._max20, ._max20 #dot-head-area,
._max20 #dot-main-area,
._max20 #dot-foot-area,
._max20 .dot-area, ._max18, ._max18 #dot-head-area,
._max18 #dot-main-area,
._max18 #dot-foot-area,
._max18 .dot-area, ._max16, ._max16 #dot-head-area,
._max16 #dot-main-area,
._max16 #dot-foot-area,
._max16 .dot-area, ._max14, ._max14 #dot-head-area,
._max14 #dot-main-area,
._max14 #dot-foot-area,
._max14 .dot-area, ._max12, ._max12 #dot-head-area,
._max12 #dot-main-area,
._max12 #dot-foot-area,
._max12 .dot-area, ._max10, ._max10 #dot-head-area,
._max10 #dot-main-area,
._max10 #dot-foot-area,
._max10 .dot-area, ._max76, ._max76 #dot-head-area,
._max76 #dot-main-area,
._max76 #dot-foot-area,
._max76 .dot-area {
    width: 2000px;
  }

  ._max24 ._max32, ._max22 ._max32, ._max20 ._max32, ._max18 ._max32, ._max16 ._max32, ._max14 ._max32, ._max12 ._max32, ._max10 ._max32, ._max76 ._max32 {
    width: 320px;
  }

  ._max24 ._max42, ._max22 ._max42, ._max20 ._max42, ._max18 ._max42, ._max16 ._max42, ._max14 ._max42, ._max12 ._max42, ._max10 ._max42, ._max76 ._max42 {
    width: 425px;
  }

  ._max24 ._max48, ._max22 ._max48, ._max20 ._max48, ._max18 ._max48, ._max16 ._max48, ._max14 ._max48, ._max12 ._max48, ._max10 ._max48, ._max76 ._max48 {
    width: 480px;
  }

  ._max24 ._max54, ._max22 ._max54, ._max20 ._max54, ._max18 ._max54, ._max16 ._max54, ._max14 ._max54, ._max12 ._max54, ._max10 ._max54, ._max76 ._max54 {
    width: 540px;
  }

  ._max24 ._max64, ._max22 ._max64, ._max20 ._max64, ._max18 ._max64, ._max16 ._max64, ._max14 ._max64, ._max12 ._max64, ._max10 ._max64, ._max76 ._max64 {
    width: 640px;
  }

  ._max24 ._max76, ._max22 ._max76, ._max20 ._max76, ._max18 ._max76, ._max16 ._max76, ._max14 ._max76, ._max12 ._max76, ._max10 ._max76 {
    width: 768px;
  }
}
@media only screen and (min-width: 2200px) {
  ._max24, ._max24 #dot-head-area,
._max24 #dot-main-area,
._max24 #dot-foot-area,
._max24 .dot-area, ._max22, ._max22 #dot-head-area,
._max22 #dot-main-area,
._max22 #dot-foot-area,
._max22 .dot-area, ._max20, ._max20 #dot-head-area,
._max20 #dot-main-area,
._max20 #dot-foot-area,
._max20 .dot-area, ._max18, ._max18 #dot-head-area,
._max18 #dot-main-area,
._max18 #dot-foot-area,
._max18 .dot-area, ._max16, ._max16 #dot-head-area,
._max16 #dot-main-area,
._max16 #dot-foot-area,
._max16 .dot-area, ._max14, ._max14 #dot-head-area,
._max14 #dot-main-area,
._max14 #dot-foot-area,
._max14 .dot-area, ._max12, ._max12 #dot-head-area,
._max12 #dot-main-area,
._max12 #dot-foot-area,
._max12 .dot-area, ._max10, ._max10 #dot-head-area,
._max10 #dot-main-area,
._max10 #dot-foot-area,
._max10 .dot-area {
    width: 2200px;
  }

  ._max24 ._max32, ._max22 ._max32, ._max20 ._max32, ._max18 ._max32, ._max16 ._max32, ._max14 ._max32, ._max12 ._max32, ._max10 ._max32 {
    width: 320px;
  }

  ._max24 ._max42, ._max22 ._max42, ._max20 ._max42, ._max18 ._max42, ._max16 ._max42, ._max14 ._max42, ._max12 ._max42, ._max10 ._max42 {
    width: 425px;
  }

  ._max24 ._max48, ._max22 ._max48, ._max20 ._max48, ._max18 ._max48, ._max16 ._max48, ._max14 ._max48, ._max12 ._max48, ._max10 ._max48 {
    width: 480px;
  }

  ._max24 ._max54, ._max22 ._max54, ._max20 ._max54, ._max18 ._max54, ._max16 ._max54, ._max14 ._max54, ._max12 ._max54, ._max10 ._max54 {
    width: 540px;
  }

  ._max24 ._max64, ._max22 ._max64, ._max20 ._max64, ._max18 ._max64, ._max16 ._max64, ._max14 ._max64, ._max12 ._max64, ._max10 ._max64 {
    width: 640px;
  }

  ._max24 ._max76, ._max22 ._max76, ._max20 ._max76, ._max18 ._max76, ._max16 ._max76, ._max14 ._max76, ._max12 ._max76, ._max10 ._max76 {
    width: 768px;
  }

  ._max24 ._max10, ._max22 ._max10, ._max20 ._max10, ._max18 ._max10, ._max16 ._max10, ._max14 ._max10, ._max12 ._max10 {
    width: 1000px;
  }
}
@media only screen and (min-width: 2400px) {
  ._max24, ._max24 #dot-head-area,
._max24 #dot-main-area,
._max24 #dot-foot-area,
._max24 .dot-area, ._max22, ._max22 #dot-head-area,
._max22 #dot-main-area,
._max22 #dot-foot-area,
._max22 .dot-area, ._max20, ._max20 #dot-head-area,
._max20 #dot-main-area,
._max20 #dot-foot-area,
._max20 .dot-area, ._max18, ._max18 #dot-head-area,
._max18 #dot-main-area,
._max18 #dot-foot-area,
._max18 .dot-area, ._max16, ._max16 #dot-head-area,
._max16 #dot-main-area,
._max16 #dot-foot-area,
._max16 .dot-area, ._max14, ._max14 #dot-head-area,
._max14 #dot-main-area,
._max14 #dot-foot-area,
._max14 .dot-area, ._max12, ._max12 #dot-head-area,
._max12 #dot-main-area,
._max12 #dot-foot-area,
._max12 .dot-area {
    width: 2400px;
  }

  ._max24 ._max32, ._max22 ._max32, ._max20 ._max32, ._max18 ._max32, ._max16 ._max32, ._max14 ._max32, ._max12 ._max32 {
    width: 320px;
  }

  ._max24 ._max42, ._max22 ._max42, ._max20 ._max42, ._max18 ._max42, ._max16 ._max42, ._max14 ._max42, ._max12 ._max42 {
    width: 425px;
  }

  ._max24 ._max48, ._max22 ._max48, ._max20 ._max48, ._max18 ._max48, ._max16 ._max48, ._max14 ._max48, ._max12 ._max48 {
    width: 480px;
  }

  ._max24 ._max54, ._max22 ._max54, ._max20 ._max54, ._max18 ._max54, ._max16 ._max54, ._max14 ._max54, ._max12 ._max54 {
    width: 540px;
  }

  ._max24 ._max64, ._max22 ._max64, ._max20 ._max64, ._max18 ._max64, ._max16 ._max64, ._max14 ._max64, ._max12 ._max64 {
    width: 640px;
  }

  ._max24 ._max76, ._max22 ._max76, ._max20 ._max76, ._max18 ._max76, ._max16 ._max76, ._max14 ._max76, ._max12 ._max76 {
    width: 768px;
  }

  ._max24 ._max10, ._max22 ._max10, ._max20 ._max10, ._max18 ._max10, ._max16 ._max10, ._max14 ._max10, ._max12 ._max10 {
    width: 1000px;
  }

  ._max24 ._max12, ._max22 ._max12, ._max20 ._max12, ._max18 ._max12, ._max16 ._max12, ._max14 ._max12 {
    width: 1200px;
  }
}