// @import '../../src/frame/index';

@import '../../src/scss';
@import '../../src/scss/variables';

@mixin frames {
  #dot-head-area,
  #dot-main-area,
  #dot-foot-area,
  .dot-area {
    @content;
  }
}

@mixin frame-rule($options: null) {

  $sticky-resize: map-get-if($options, 'sticky-resize');


  #dot-head-area,
  #dot-main-area,
  #dot-foot-area {
    position: relative;
  }

  .dot-resize {
    max-width: inherit;
  }

  #dot-head-area,
  #dot-main-area,
  #dot-foot-area,
  .dot-area {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
  }

  $min-width: 320;
  $first-resize: null;

  $start-index: 1;
  $length: length($DOT-LAYOUT-WIDTHS);

  @each $width in $DOT-LAYOUT-WIDTHS {
    @if $width > $min-width {

      $widths: list-slice($DOT-LAYOUT-WIDTHS, $start-index, $length);

      @include mq-min($width) {

        //@if not $first-resize {
        //  @include frames {
        //    width: px($min-width);
        //    min-width: inherit;
        //    $first-resize: true;
        //  }
        //}

        %max-#{$width} {
          width: px($width);
        }

        $width-queries: ();
        @each $width-query in $widths {
          #{'._'+$width-query} {
            @include frames {
              @extend %max-#{$width};
            }
          }
        }
      }

    }
    $start-index: $start-index + 1;
  }

}


@include frame-rule();

