@import '../../src/scss';


$DOT-LINK-STYLES: (
        'default': (
        ),
        'ghost': (
        ),
        'underline': (
        )
);

@mixin fx-ripple-with() {
  position: relative;
  overflow: hidden;

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: -10%;
    right: -10%;
    width: 120%;
    padding-top: 120%;
    transform: translateY(-50%);
    border-radius: 50%;
    content: '';
    z-index: 1;
    display: none;
    @include animate(0.24s both) {
      from {
        left: 50%;
        right: 50%;
        width: 0;
        padding-top: 0;
      }
    }
    @content;
  }

  .dot-ripple,
  &:hover {
    &:before {
      display: block;
    }
  }

  &:focus,
  &:active {
    &:after {
      display: block;
    }
  }
}

@mixin fx-ripple() {
  @include fx-ripple-with {
  }

}

@mixin link-rule($options: null) {
  $options: rule-arguments($options, null, link);
  $selector: map-get($options, 'selector');

  $default-style: 'default';


  $min-height: 36px;

  @at-root {
    a#{$selector} {
      display: inline-block;
    }

    button#{$selector} {
      border: none;
      margin: 0;
      padding: 0;
      background-color: transparent;

      &:focus {
        outline: none;
      }
    }

    #{$selector} {
      font-family: sans-serif;
      font-size: 1rem;
      cursor: pointer;
      vertical-align: middle;

      > span,
      &-area {
        display: inline-block;
        min-width: 48px;
        line-height: $min-height;
        text-align: center;
        padding: 0 0.313em;
      }

      /*
      @include fx-ripple-with {
        background-color: rgba(0, 0, 0, 0.12);
      }
      */


    }
  }
}

@mixin link-theme($theme) {

  $labels: ('primary', 'accent', 'warn');

  @each $label in $labels {
    $color: pick($theme, $label);


    .dot-link {
      @each $style, $properties in $DOT-LINK-STYLES {
        $suffix: #{'_' + $label};

        &#{$suffix} {
          background-color: $color;
        }
      }
    }

  }

}

$primary: blue;
$accent: green;
$warn: red;

$theme: theme(palette((
        'primary': $primary,
        'accent': $accent,
        'warn': $warn
)));

@include link-rule;
@include link-theme($theme);