.dot-link {
  display: inline-block;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 3px;
  line-height: 36px;
}
.dot-link > span {
  display: inline-block;
  min-width: 48px;
  text-align: center;
  padding: 0 0.625em;
}
.dot-link:focus {
  outline: none;
}
.dot-link_clears .dot-link._primary, .dot-link._primary {
  color: rgba(30, 136, 229, 0.6);
}
.dot-link_clears .dot-link._primary._focus, .dot-link_clears .dot-link._primary:focus, .dot-link._primary._focus, .dot-link._primary:focus {
  background-color: rgba(30, 136, 229, 0.24);
}
.dot-link_clears .dot-link._primary._hover, .dot-link_clears .dot-link._primary:hover, .dot-link._primary._hover, .dot-link._primary:hover {
  background-color: rgba(30, 136, 229, 0.24);
  color: #1E88E5;
}
.dot-link_clears .dot-link._primary._active, .dot-link_clears .dot-link._primary:active, .dot-link._primary._active, .dot-link._primary:active {
  color: #1E88E5;
  background-color: rgba(30, 136, 229, 0.12);
}
.dot-link_clears .dot-link._secondary, .dot-link._secondary {
  color: rgba(0, 172, 193, 0.6);
}
.dot-link_clears .dot-link._secondary._focus, .dot-link_clears .dot-link._secondary:focus, .dot-link._secondary._focus, .dot-link._secondary:focus {
  background-color: rgba(0, 172, 193, 0.24);
}
.dot-link_clears .dot-link._secondary._hover, .dot-link_clears .dot-link._secondary:hover, .dot-link._secondary._hover, .dot-link._secondary:hover {
  background-color: rgba(0, 172, 193, 0.24);
  color: #00ACC1;
}
.dot-link_clears .dot-link._secondary._active, .dot-link_clears .dot-link._secondary:active, .dot-link._secondary._active, .dot-link._secondary:active {
  color: #00ACC1;
  background-color: rgba(0, 172, 193, 0.12);
}
.dot-link_clears .dot-link._tertiary, .dot-link._tertiary {
  color: rgba(30, 136, 229, 0.6);
}
.dot-link_clears .dot-link._tertiary._focus, .dot-link_clears .dot-link._tertiary:focus, .dot-link._tertiary._focus, .dot-link._tertiary:focus {
  background-color: rgba(30, 136, 229, 0.24);
}
.dot-link_clears .dot-link._tertiary._hover, .dot-link_clears .dot-link._tertiary:hover, .dot-link._tertiary._hover, .dot-link._tertiary:hover {
  background-color: rgba(30, 136, 229, 0.24);
  color: #1E88E5;
}
.dot-link_clears .dot-link._tertiary._active, .dot-link_clears .dot-link._tertiary:active, .dot-link._tertiary._active, .dot-link._tertiary:active {
  color: #1E88E5;
  background-color: rgba(30, 136, 229, 0.12);
}
.dot-link_clears .dot-link._accent, .dot-link._accent {
  color: rgba(255, 165, 0, 0.6);
}
.dot-link_clears .dot-link._accent._focus, .dot-link_clears .dot-link._accent:focus, .dot-link._accent._focus, .dot-link._accent:focus {
  background-color: rgba(255, 165, 0, 0.24);
}
.dot-link_clears .dot-link._accent._hover, .dot-link_clears .dot-link._accent:hover, .dot-link._accent._hover, .dot-link._accent:hover {
  background-color: rgba(255, 165, 0, 0.24);
  color: orange;
}
.dot-link_clears .dot-link._accent._active, .dot-link_clears .dot-link._accent:active, .dot-link._accent._active, .dot-link._accent:active {
  color: orange;
  background-color: rgba(255, 165, 0, 0.12);
}
.dot-link_clears .dot-link._warn, .dot-link._warn {
  color: rgba(229, 57, 53, 0.6);
}
.dot-link_clears .dot-link._warn._focus, .dot-link_clears .dot-link._warn:focus, .dot-link._warn._focus, .dot-link._warn:focus {
  background-color: rgba(229, 57, 53, 0.24);
}
.dot-link_clears .dot-link._warn._hover, .dot-link_clears .dot-link._warn:hover, .dot-link._warn._hover, .dot-link._warn:hover {
  background-color: rgba(229, 57, 53, 0.24);
  color: #E53935;
}
.dot-link_clears .dot-link._warn._active, .dot-link_clears .dot-link._warn:active, .dot-link._warn._active, .dot-link._warn:active {
  color: #E53935;
  background-color: rgba(229, 57, 53, 0.12);
}
.dot-link_softs .dot-link._primary, .dot-link._soft._primary {
  background-color: rgba(30, 136, 229, 0.12);
  color: #1E88E5;
}
.dot-link_softs .dot-link._primary._hover, .dot-link_softs .dot-link._primary:hover, .dot-link._soft._primary._hover, .dot-link._soft._primary:hover {
  color: #000;
  background-color: rgba(30, 136, 229, 0.64);
}
.dot-link_softs .dot-link._secondary, .dot-link._soft._secondary {
  background-color: rgba(0, 172, 193, 0.12);
  color: #00ACC1;
}
.dot-link_softs .dot-link._secondary._hover, .dot-link_softs .dot-link._secondary:hover, .dot-link._soft._secondary._hover, .dot-link._soft._secondary:hover {
  color: #000;
  background-color: rgba(0, 172, 193, 0.64);
}
.dot-link_softs .dot-link._tertiary, .dot-link._soft._tertiary {
  background-color: rgba(30, 136, 229, 0.12);
  color: #1E88E5;
}
.dot-link_softs .dot-link._tertiary._hover, .dot-link_softs .dot-link._tertiary:hover, .dot-link._soft._tertiary._hover, .dot-link._soft._tertiary:hover {
  color: #000;
  background-color: rgba(30, 136, 229, 0.64);
}
.dot-link_softs .dot-link._accent, .dot-link._soft._accent {
  background-color: rgba(255, 165, 0, 0.12);
  color: orange;
}
.dot-link_softs .dot-link._accent._hover, .dot-link_softs .dot-link._accent:hover, .dot-link._soft._accent._hover, .dot-link._soft._accent:hover {
  color: #000;
  background-color: rgba(255, 165, 0, 0.64);
}
.dot-link_softs .dot-link._warn, .dot-link._soft._warn {
  background-color: rgba(229, 57, 53, 0.12);
  color: #E53935;
}
.dot-link_softs .dot-link._warn._hover, .dot-link_softs .dot-link._warn:hover, .dot-link._soft._warn._hover, .dot-link._soft._warn:hover {
  color: #fff;
  background-color: rgba(229, 57, 53, 0.64);
}