@import '../../src/scss';

@import '../../src/toast/index';


$primary: #9A0D3A;
$accent: lighten($primary, 20%);
$warn: #b57fff;

$primary: #15a2de;
$secondary: yellow;
$accent: #34ed93;
$warn: #ff6b6b;

$field: #333;
$text: safe-color($field);

$theme: theme((
        'palette': palette((
                'primary': $primary,
                'secondary': $secondary,
                'accent': $accent,
                'warn': $warn,
                'field': $field,
                'text': $text
        ))
));

@include toast-rule();

@include toast-theming($theme);
