.dot-toast {
  zoom: expression(this.style.zoom=1, this.innerHTML+='<div style="clear:both;">');
  margin: 0.625em auto 0 auto;
  width: auto;
  min-width: 300px;
  background-color: #fff;
}
.dot-toast_top-left .dot-toast-pool, .dot-toast-pool.dot-toast_top-left {
  top: 0;
  left: 0;
  transform-origin: left top;
}
.dot-toast_top-center .dot-toast-pool, .dot-toast-pool.dot-toast_top-center {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center top;
}
.dot-toast_top-right .dot-toast-pool, .dot-toast-pool.dot-toast_top-right {
  top: 0;
  right: 0;
  transform-origin: right top;
}
.dot-toast_middle-left .dot-toast-pool, .dot-toast-pool.dot-toast_middle-left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transform-origin: left center;
}
.dot-toast_middle-center .dot-toast-pool, .dot-toast-pool.dot-toast_middle-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}
.dot-toast_middle-right .dot-toast-pool, .dot-toast-pool.dot-toast_middle-right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transform-origin: right center;
}
.dot-toast_bottom-left .dot-toast-pool, .dot-toast-pool.dot-toast_bottom-left {
  bottom: 0;
  left: 0;
  transform-origin: left bottom;
}
.dot-toast_bottom-center .dot-toast-pool, .dot-toast-pool.dot-toast_bottom-center {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center bottom;
}
.dot-toast_bottom-right .dot-toast-pool, .dot-toast-pool.dot-toast_bottom-right {
  bottom: 0;
  right: 0;
  transform-origin: right bottom;
}
.dot-toast-pool {
  position: fixed;
  max-width: 480px;
  z-index: 10000;
}
.dot-toast:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
.dot-toast .dot-pad {
  padding: 1.25em;
  display: flex;
}
.dot-toast p,
.dot-toast button {
  line-height: 1.6em;
}
.dot-toast p {
  float: left;
  line-height: 1.6em;
  flex-grow: 1;
}
.dot-toast .buttons {
  text-align: right;
}
.dot-toast button {
  vertical-align: middle;
  background-color: transparent;
  border: none;
  font-weight: bold;
  padding: 0 0.313em;
}
.dot-toast button:focus {
  outline: none;
}

.dot-toast_soft .dot-toast {
  background-color: #212121;
  color: #fff;
}
.dot-toast_soft .dot-toast button:focus, .dot-toast_soft .dot-toast button:hover {
  color: white;
}
.dot-toast_soft .dot-toast._primary {
  background-color: #020d12;
  color: #15a2de;
}
.dot-toast_soft .dot-toast._primary:hover {
  background-color: #03171f;
}
.dot-toast_soft .dot-toast._primary button {
  color: #15a2de;
}
.dot-toast_soft .dot-toast._primary button:hover {
  color: #3ab7ec;
}
.dot-toast_soft .dot-toast._secondary {
  background-color: #141400;
  color: yellow;
}
.dot-toast_soft .dot-toast._secondary:hover {
  background-color: #242400;
}
.dot-toast_soft .dot-toast._secondary button {
  color: yellow;
}
.dot-toast_soft .dot-toast._secondary button:hover {
  color: #ffff33;
}
.dot-toast_soft .dot-toast._accent {
  background-color: #04130c;
  color: #34ed93;
}
.dot-toast_soft .dot-toast._accent:hover {
  background-color: #072115;
}
.dot-toast_soft .dot-toast._accent button {
  color: #34ed93;
}
.dot-toast_soft .dot-toast._accent button:hover {
  color: #63f1ac;
}
.dot-toast_soft .dot-toast._warn {
  background-color: #140909;
  color: #ff6b6b;
}
.dot-toast_soft .dot-toast._warn:hover {
  background-color: #240f0f;
}
.dot-toast_soft .dot-toast._warn button {
  color: #ff6b6b;
}
.dot-toast_soft .dot-toast._warn button:hover {
  color: #ff9e9e;
}
.dot-toast_hard .dot-toast._primary {
  background-color: #15a2de;
  color: #000;
}
.dot-toast_hard .dot-toast._secondary {
  background-color: yellow;
  color: #000;
}
.dot-toast_hard .dot-toast._accent {
  background-color: #34ed93;
  color: #000;
}
.dot-toast_hard .dot-toast._warn {
  background-color: #ff6b6b;
  color: #000;
}
.dot-toast_vivid .dot-toast._primary {
  background: linear-gradient(to left, #19de15, #15a2de);
  color: #000;
}
.dot-toast_vivid .dot-toast._secondary {
  background: linear-gradient(to left, #ff0051, yellow);
  color: #000;
}
.dot-toast_vivid .dot-toast._accent {
  background: linear-gradient(to left, #c9ed34, #34ed93);
  color: #000;
}
.dot-toast_vivid .dot-toast._warn {
  background: linear-gradient(to left, #d06bff, #ff6b6b);
  color: #000;
}
.dot-toast_border .dot-toast {
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  background-color: #050505;
  color: #fff;
}
.dot-toast_border .dot-toast._primary {
  border-color: #15a2de;
}
.dot-toast_border .dot-toast._primary button {
  color: #15a2de;
}
.dot-toast_border .dot-toast._secondary {
  border-color: yellow;
}
.dot-toast_border .dot-toast._secondary button {
  color: yellow;
}
.dot-toast_border .dot-toast._accent {
  border-color: #34ed93;
}
.dot-toast_border .dot-toast._accent button {
  color: #34ed93;
}
.dot-toast_border .dot-toast._warn {
  border-color: #ff6b6b;
}
.dot-toast_border .dot-toast._warn button {
  color: #ff6b6b;
}

body {
  background-color: #333;
}