@import '../../src/scss';

$VERTICAL-POSITIONS: (
        'top': (
                top: 0,
                bottom: inherit,
                transform: none
        ),
        'middle': (
                top:50%,
                bottom: inherit,
                transform:translateY(-50%)
        ),
        'bottom': (
                top: inherit,
                bottom:0,
                transform: none
        )
);

$HORIZONTAL-POSITIONS: (
        'left': (
                left: 0,
                right: auto,
                transform: none
        ),
        'center': (
                left:50%,
                transform:translateX(-50%)
        ),
        'right': (
                left: auto,
                right:0,
                transform: none
        )
);

$TOAST-SHAPES: ('soft', 'hard', 'vivid', 'border');


@mixin toast-rule() {
  .dot-toast {


    // @include fixed-position-states('.dot-toast-pool');

    @each $vertical-type, $vertical-properties in $VERTICAL-POSITIONS {
      @each $horizontal-type, $horizontal-properties in $HORIZONTAL-POSITIONS {
        $state: $vertical-type + '-' + $horizontal-type;

        &#{'_'+$state} &-pool,
        &-pool.dot-toast_#{$state} {
          @include properties($vertical-properties, $horizontal-properties);
        }
      }
    }


    &-pool {
      position: fixed;
      max-width: 640px;
      z-index: 10000;
    }

    @include float;
    margin: 1.25em auto 0 auto;
    width: auto;
    min-width: 320px;
    background-color: #fff;

    .dot-pad {
      padding: 1.25em;

      display: flex;
    }

    p,
    button {
      line-height: 1.6em;
    }


    p {
      float: left;
      line-height: 1.6em;
      flex-grow: 1;
    }

    .buttons {
      text-align: right;
    }


    button {
      vertical-align: middle;
      background-color: transparent;
      border: none;
      font-weight: bold;
    }
  }
}

@include toast-rule;

@mixin toast-soft-theming($theme) {
  $primary: -primary($theme);
  $accent: -accent($theme);
  $warn: -warn($theme);
  $color: $warn;
  $labels: primary accent warn;


  .dot-toast {
    @each $label in $labels {
      $color: pick($theme, $label);
      $label-suffix-query: #{'._'+$label};

      &#{$label-suffix-query} {


        background-color: tint($color, 86%);
        color: shade($color, 68%);

        &:hover {
          background-color: tint($color, 79%);
        }

        button {
          color: $color;
        }
      }
    }

  }
}

@mixin toast-hard-theming($theme) {
  $primary: -primary($theme);
  $accent: -accent($theme);
  $warn: -warn($theme);
  $color: $warn;
  $labels: primary accent warn;

  .dot-toast {
    @each $label in $labels {
      $color: pick($theme, $label);
      $label-suffix-query: #{'._'+$label};

      &#{$label-suffix-query} {
        background-color: $color;
        color: safe-color($color);
      }
    }
  }

}

@mixin toast-border-theming($theme) {
  $primary: -primary($theme);
  $accent: -accent($theme);
  $warn: -warn($theme);
  $color: $warn;

  $labels: primary accent warn;


  .dot-toast {
    background-color: $field;
    color: safe-color($field);

    @each $label in $labels {
      $color: pick($theme, $label);
      $label-suffix-query: #{'._'+$label};

      &#{$label-suffix-query} {
        border: solid 2px $color;
        background-color: shade($color, 67%);
        color: tint($color, 20%);
      }
    }
  }

}

@mixin toast-vivid-theming($theme) {
  $primary: -primary($theme);
  $accent: -accent($theme);
  $warn: -warn($theme);
  $color: $warn;
  $labels: primary accent warn;

  .dot-toast {
    @each $label in $labels {
      $color: pick($theme, $label);
      $label-suffix-query: #{'._'+$label};

      &#{$label-suffix-query} {
        background: linear-gradient(to right, $color, adjust-hue($color, 67deg));
        color: safe-color($color);
      }
    }
  }

}

@mixin toast-theming($theme) {

  .dot-toast_soft {
    @include toast-soft-theming($theme);
  }
  .dot-toast_hard {
    @include toast-hard-theming($theme);
  }
  .dot-toast_vivid {
    @include toast-vivid-theming($theme);
  }
  .dot-toast_border {
    @include toast-border-theming($theme);
  }
}

$primary: #9A0D3A;
$accent: lighten($primary, 20%);
$warn: #b57fff;
$field: #999;
$text: #fff;

$theme: theme((
        'palette': palette((
                'primary': $primary,
                'accent': $accent,
                'warn': $warn,
                'field': $field,
                'text': $text
        ))
));

@include toast-theming($theme)
