@import '../../src/scss';

$primary: #2a529a;
$secondary: #10c8ff;
$tertiary: #ade100;
$accent: #5b3fff;
$warn: #f96161;

$field: #fff;
$text: safe-color($field);

//$field: #333;
//$text: safe-color($field);

$theme: theme((
        'palette': palette((
                'primary': $primary,
                'secondary': $secondary,
                'tertiary': $tertiary,
                'accent': $accent,
                'warn': $warn,
                'field': $field,
                'text': $text
        ))
));

@include google-font('Roboto');

@mixin theming($theme) {
  $field: -field($theme);
  $text: -text($theme);

  body {
    background-color: $field;
    color: $text;
  }
}

@include theming($theme);


