.dot-border_primary {
  border-color: #448AFF;
}
.dot-field_primary {
  background-color: #448AFF;
}
.dot-primary {
  color: #448AFF;
}
.dot-border_accent {
  border-color: #00838F;
}
.dot-field_accent {
  background-color: #00838F;
}
.dot-accent {
  color: #00838F;
}
.dot-border_warn {
  border-color: #E91E63;
}
.dot-field_warn {
  background-color: #E91E63;
}
.dot-warn {
  color: #E91E63;
}
.dot-border {
  border-color: #448AFF;
}
.dot-border_link {
  border-color: #bb7500;
}
.dot-field_link {
  background-color: #bb7500;
}
.dot-link {
  color: #bb7500;
}
.dot-border_react {
  border-color: #5796ff;
}
.dot-field_react {
  background-color: #5796ff;
}
.dot-react {
  color: #5796ff;
}
.dot-border_active {
  border-color: #3d7ce6;
}
.dot-field_active {
  background-color: #3d7ce6;
}
.dot-active {
  color: #3d7ce6;
}
.dot-border_field {
  border-color: #fff;
}
.dot-field {
  background-color: #fff;
}
.dot-field {
  color: #fff;
}
.dot-border_text {
  border-color: black;
}
.dot-field_text {
  background-color: black;
}
.dot-text {
  color: black;
}
.dot-border_field-text {
  border-color: black;
}
.dot-field_field-text {
  background-color: black;
}
.dot-field-text {
  color: black;
}
.dot-border_disable {
  border-color: #a2a2a2;
}
.dot-field_disable {
  background-color: #a2a2a2;
}
.dot-disable {
  color: #a2a2a2;
}

.dot-box {
  color: #fff;
}