.dot-notify-toast {
  margin-bottom: 20px;
  display: block;
  max-width: 300px;
  cursor: pointer;
  background-color: #fff;
}
.dot-notify-toast:last-child {
  margin-bottom: 0;
}
.dot-notify-toast-pool {
  position: fixed;
}
.dot-notify-toast-pool._top-left {
  top: 0;
  left: 0;
}
.dot-notify-toast-pool._top-center {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.dot-notify-toast-pool._top-right {
  top: 0;
  right: 0;
}
.dot-notify-toast-pool._middle-left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.dot-notify-toast-pool._middle-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dot-notify-toast-pool._middle-right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.dot-notify-toast-pool._bottom-left {
  bottom: 0;
  left: 0;
}
.dot-notify-toast-pool._bottom-center {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.dot-notify-toast-pool._bottom-right {
  bottom: 0;
  right: 0;
}
.dot-notify-toast .dot-pad {
  padding: 0.626em;
}