$DOT-DEFAULT-THEME-NAME: 'global' !default;

$DOT-THEME-STORE: () !default;

$DOT-PALETTE-LABELS: (
        'primary',
        'accent',
        'warn',
        'text',
        'link',
        'react',
        'active',
        'disable'
) !default;

$DOT-REQUIRED-PALETTE-COLORS: (
        'primary'
) !default;

$DOT-PALETTE-AUTOFILL: ((
  // 'palette',
        'accent' : ('method': 'contrast'),
        'warn': ('method': 'invert'),
        'field': #fff,
        'border': 'primary',
        'text': ('reference': 'primary', 'method': 'text'),
        'field-text': ('reference': 'field', 'method': 'text'),
        'link': ('method': 'invert', 'amount': 50%),
        'react': ('method': 'tint'),
        'active': ('method': 'shade'),
        'disable': ('method': 'grayscale')
)) !default;