$THEME-DEFAULT-NAME: 'global' !default;

$THEME-STORE: () !default;

$THEME-LABELS: (
        'primary',
        'secondary',
        'accent',
        'warn',
        'text',
        'link',
        'react',
        'active',
        'disable'
) !default;

$THEME-MAIN-LABELS: (
        'primary',
        'secondary',
        'accent',
        'warn'
);

$THEME-REQUIRED-LABELS: (
        'primary'
) !default;

$THEME-AUTOFILL: ((
        'secondary': 'primary',
        'accent' : ('method': 'contrast'),
        'warn': ('method': 'invert'),
        'field': #fff,
        'border': 'primary',
        'text': ('reference': 'primary', 'method': 'text'),
        'field-text': ('reference': 'field', 'method': 'text'),
        'link': ('method': 'invert', 'amount': 50%),
        'react': ('method': 'tint'),
        'active': ('method': 'shade'),
        'disable': ('method': 'grayscale')
)) !default;