@mixin notify-rule() {
  $selector: '.dot-notify';

  #{$selector} {
    &-central {
      @include _position-rule('right-bottom');

      h1 {
        @include hide;
      }
    }

    background-color: #fff;
    min-width: 320px;
    width: 20%;
    @include bottom-gap();

    .dot-pad {
      padding: 0.626em;
    }

    &._link-full {
      #{$selector}-foot {
        .dot-pad {
          display: flex;
          flex-wrap: nowrap;

          > button {
            flex-grow: 1;
          }
        }
      }
    }
  }
}