@import '../ratio/only';

@warn 'deprecated, using/box/index';

@mixin box-rule($options: null) {
  $options: rule-arguments($options, null, box);
  $selector: map-get($options, selector);

  $bg-color: map-get-if($options, -bg-c(), #fff);

  @at-root #{$selector} {
    &es #{$selector} {
      @include bottom-gap;
    }

    display: block;
    background-color: $bg-color;

    @if ($shadow) {
      box-shadow: $shadow;
    }


    &-pad {
      padding: 1.256rem;
    }

    &-media {
      @include ratio-child-rule((sub-prefix:null)) {
        position: relative;

        &-area {
          overflow: hidden;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

            img {
            @include middle();
            min-width: 100%;
          }
        }
      }
    }

    &-main {
    }

    &-foot {
    }

    //////////////////////////////
    // state classes

    .dot-boxes_full &,
    &_full {
      height: 100%;
    }

    .dot-boxes_thin &,
    &_thin {
      #{$selector} {
        &-head {
          #{$selector}-pad {
            padding-bottom:0;
          }
        }
        &-foot {
          #{$selector}-pad {
            padding-top:0;
          }
        }
      }
    }

    .dot-boxes_link &,
    &_link {
      cursor:pointer;
    }

    .dot-boxes_disable &,
    &_disable {
      cursor:default;
    }
  }
}
