.dot-link {
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 36px;
}
.dot-link > span, .dot-link-area {
  display: inline-block;
  min-width: 48px;
  text-align: center;
  padding: 0 0.313em;
}
.dot-link:focus {
  outline: none;
}
.dot-link._border {
  border-style: solid;
  border-width: 2px;
}
.dot-link._line {
  border-style: solid;
  border-width: 0 0 2px 0;
}
.dot-link._text {
  color: black;
}
.dot-link._primary {
  color: #1E88E5;
}
.dot-link._accent {
  color: #00ACC1;
}
.dot-link._warn {
  color: #E53935;
}
.dot-link._fill._text {
  background-color: black;
  color: #fff;
}
.dot-link._fill._primary {
  background-color: #1E88E5;
  color: #000;
}
.dot-link._fill._accent {
  background-color: #00ACC1;
  color: #000;
}
.dot-link._fill._warn {
  background-color: #E53935;
  color: #fff;
}
.dot-link._border._text {
  border-color: black;
  color: black;
}
.dot-link._border._primary {
  border-color: #1E88E5;
  color: #1E88E5;
}
.dot-link._border._accent {
  border-color: #00ACC1;
  color: #00ACC1;
}
.dot-link._border._warn {
  border-color: #E53935;
  color: #E53935;
}
.dot-link._line._text {
  border-color: black;
  color: black;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.dot-link._line._primary {
  border-color: #1E88E5;
  color: #1E88E5;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.dot-link._line._accent {
  border-color: #00ACC1;
  color: #00ACC1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.dot-link._line._warn {
  border-color: #E53935;
  color: #E53935;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}