@import url(https://fonts.googleapis.com/css?family=Roboto);
body, input, textarea, select, button {
  font-family: "Roboto";
}

body {
  background-color: #fff;
  color: #000;
}

.dot-loader {
  display: inline-block;
  animation: zz5nGQWmdItUE1t1HNT8q0UPo5vZrP 0.48s both;
}
@keyframes zz5nGQWmdItUE1t1HNT8q0UPo5vZrP {
  from {
    opacity: 0;
  }
}
.dot-loader span {
  display: block;
  position: relative;
  width: 1.5em;
  height: 1.5em;
}
.dot-loader b {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.dot-loader._circle span {
  animation: z3exEei0yp1y80Vfy3jdSFyrnkNUEc 1.44s linear infinite;
}
@keyframes z3exEei0yp1y80Vfy3jdSFyrnkNUEc {
  to {
    transform: rotate(360deg);
  }
}
.dot-loader._circle b {
  width: 1.25em;
  height: 1.25em;
  border: solid gray 0.125em;
  border-radius: 50%;
  border-right-color: transparent !important;
  animation: z3u3uny96WlDxfZ1Uk6vHaOvBiLvdT 0.96s infinite;
}
@keyframes z3u3uny96WlDxfZ1Uk6vHaOvBiLvdT {
  to {
    transform: rotate(360deg);
  }
}
.dot-loader._circle b:nth-child(1) {
  display: block;
}
.dot-loader._flip b {
  background-color: gray;
  width: 100%;
  height: 100%;
  perspective: 512px;
  animation: ztg0tNkANxMuqLawqFACn8QKsABgZV 0.96s linear infinite;
}
@keyframes ztg0tNkANxMuqLawqFACn8QKsABgZV {
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(180deg) rotateY(180deg);
  }
}
.dot-loader._flip b:nth-child(1) {
  display: block;
}
.dot-loader._flip9 b {
  background-color: gray;
  width: 33.33%;
  height: 33.33%;
  perspective: 512px;
  display: block;
  animation: zDqjOsOEbJTGAcANECm0w6Cw5k3M5q 2.4s both infinite;
}
@keyframes zDqjOsOEbJTGAcANECm0w6Cw5k3M5q {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1) rotateX(-180deg) rotateY(180deg);
  }
}
.dot-loader._flip9 b:nth-child(2), .dot-loader._flip9 b:nth-child(5), .dot-loader._flip9 b:nth-child(8) {
  left: 33.33%;
}
.dot-loader._flip9 b:nth-child(3), .dot-loader._flip9 b:nth-child(6), .dot-loader._flip9 b:nth-child(9) {
  left: 66.66%;
}
.dot-loader._flip9 b:nth-child(4), .dot-loader._flip9 b:nth-child(5), .dot-loader._flip9 b:nth-child(6) {
  top: 33.33%;
}
.dot-loader._flip9 b:nth-child(7), .dot-loader._flip9 b:nth-child(8), .dot-loader._flip9 b:nth-child(9) {
  top: 66.66%;
}
.dot-loader._flip9 b:nth-child(6), .dot-loader._flip9 b:nth-child(8) {
  animation-delay: 0.48s;
}
.dot-loader._flip9 b:nth-child(3), .dot-loader._flip9 b:nth-child(5), .dot-loader._flip9 b:nth-child(7) {
  animation-delay: 0.96s;
}
.dot-loader._flip9 b:nth-child(2), .dot-loader._flip9 b:nth-child(4) {
  animation-delay: 1.44s;
}
.dot-loader._flip9 b:nth-child(1) {
  animation-delay: 1.92s;
}
.dot-loader._bar b {
  background-color: gray;
  width: 15.626%;
  height: 100%;
  animation: zXLwWF5HcLuDCmRNu09PDZGS1LRR4W 0.96s infinite;
}
@keyframes zXLwWF5HcLuDCmRNu09PDZGS1LRR4W {
  50% {
    transform: scaleY(0.46);
  }
}
.dot-loader._bar b:nth-child(1), .dot-loader._bar b:nth-child(2), .dot-loader._bar b:nth-child(3), .dot-loader._bar b:nth-child(4) {
  display: block;
}
.dot-loader._bar b:nth-child(2) {
  left: 28.126%;
  animation-delay: 0.12s;
}
.dot-loader._bar b:nth-child(3) {
  left: 56.252%;
  animation-delay: 0.24s;
}
.dot-loader._bar b:nth-child(4) {
  left: 84.378%;
  animation-delay: 0.36s;
}

.dot-loader._circle b {
  border-color: #000;
}
.dot-loader._flip b, .dot-loader._flip9 b, .dot-loader._bar b {
  background-color: #000;
}
.dot-loader._primary._circle b {
  border-color: #2a529a;
}
.dot-loader._primary._flip b, .dot-loader._primary._flip9 b, .dot-loader._primary._bar b {
  background-color: #2a529a;
}
.dot-loader._accent._circle b {
  border-color: #5b3fff;
}
.dot-loader._accent._flip b, .dot-loader._accent._flip9 b, .dot-loader._accent._bar b {
  background-color: #5b3fff;
}
.dot-loader._warn._circle b {
  border-color: #f96161;
}
.dot-loader._warn._flip b, .dot-loader._warn._flip9 b, .dot-loader._warn._bar b {
  background-color: #f96161;
}