@function __number-index($string) {
  @return index($__number-strings, $string);
}

@function __number($string) {
  @return map-get($__numbers, $string);
}

@function __unit($string) {
  @return map-get($__units, $string);
}

/// is type of string
/// @return {boolean}
@function is-string($value) {
  @return type-of($value) == string;
}

/// is type of number
/// @return {boolean}
@function is-number($value) {
  @return type-of($value) == number;
}

/// is type of number or string as number
/// @return {boolean}
@function is-numeric($value) {
  @return is-number($value) or is-string($value);
}

@function is-color($value){
  @return type-of($value) == 'color';
}

/// is type of list
/// @return {boolean}
@function is-list($target) {
  @return type-of($target) == list;
}

@function is-not-list($target) {
  @return type-of($target) != list;
}

/// is type of map
/// @return {boolean}
@function is-map($map) {
  $type: type-of($map);
  @return $type == map or ($type == list and length($map) == 0);
}

@function is-empty($target) {
  @if $target == '' or $target == null or $target == false {
    @return true;
  }
  @return false;
}

@function is-class-query($query) {
  @return starts-with($query, '.');
}

@import 'functions/list';
@import 'functions/map';
@import 'functions/string';
@import 'functions/number';
@import 'functions/color';
@import 'functions/dot';

@function type-error($type, $arg-name: null) {
  @if not $arg-name {
    $arg-name: $type;
  }

  @return '$#{$arg-name} is not a #{$type}';
}

@function map-type-error($arg-name: map) {
  @return type-error('map', $arg-name);
}

$__argments-shorten-index: selector !default;

/// get arguments as can shorten mapping
/// @deprecated
@function arguments($args, $shorten-index: $__argments-shorten-index, $merge:null) {
  // @warn 'arguments is deprecated';

  @if $merge {
    @if not is-map($merge) {
      @error map-type-error(merge);
    }
  } @else if is-map($shorten-index) {
    $merge: $shorten-index;
    $shorten-index: $__argments-shorten-index;
  }

  @if $args == null {
    @if $merge {
      @return $merge;
    }
    @return (--arguments--: false);
  } @else if not is-map($args) {
    @if $shorten-index {
      $args: ($shorten-index: $args);
    } @else {
      @debug $args;
      @error type-error(options);
    }
  }

  @return if($merge, map-merge($args, $merge), $args);
}

$__args-shorten-index: query !default;

/// get arguments as can shorten mapping
@function args($args, $shorten-index: null, $merge: null) {
  @if $merge {
    @if not is-map($merge) {
      @error map-type-error(merge);
    }
  } @else if is-map($shorten-index) {
    $merge: $shorten-index;
    $shorten-index: $__args-shorten-index;
  }

  @if $args == null {
    @if $merge {
      @return $merge;
    }
    @return ();
  } @else if not is-map($args) {
    @if $shorten-index {
      $args: ($shorten-index: $args);
    } @else {
      @error map-type-error(args)
    }
  }

  @return if($merge, map-merge($args, $merge), $args);
}

/// get arguments as can shorten mapping
/// adding the query value for rule selector
@function rule-args($args, $shorten-index:query, $sub-query: null) {
  $args: args($args, $shorten-index);

  $query: map-get($args, query);
  $parent-query: map-get-if($args, parent-query);
  $sub-query: map-get-if($args, sub-query, $sub-query);

  @if $query {
    @if $parent-query {
      $query: $parent-query + $query;
    }
  } @else {
    @if $sub-query {
      @if $parent-query {
        $query: $parent-query + $sub-query;
      } @else {
        $query: dot-class($sub-query);
      }
    } @else {
      @if $parent-query {
        $query: $parent-query;
      } @else {
        $query: dot-class();
      }
    }
  }

  @if starts-with($query, '.') or starts-with($query, '#') {
    $args: map-set($args, query-string, str-slice($query, 2, str-length($query)));
  } @else {
    $args: map-set($args, query-string, $query);
    $query: unquote('#{'.'} + $query');
  }

  @return map-set($args, query, $query);
}

// todo: why?, still used many places
/// @deprecated
@function rule-arguments($args, $shorten-index:null, $sub-selector:null) {
  // @warn 'rule-arguments is deprecated';
  $args: arguments($args, $shorten-index);

  $selector: map-get($args, selector);
  $parent-selector: map-get-if($args, parent-selector);
  $sub-selector: map-get-if($args, sub-selector, $sub-selector);

  @if ($selector) {
    @if ($parent-selector) {
      $selector: $parent-selector + $selector;
    }
  } @else {
    @if ($sub-selector) {
      @if ($parent-selector) {
        $selector: $parent-selector + $sub-selector;
      } @else {
        $selector: dot-class_d($sub-selector);
      }
    } @else {
      @if ($parent-selector) {
        $selector: $parent-selector;
      } @else {
        $selector: dot-class_d();
      }
    }
  }

  @if (starts-with($selector, '.') or starts-with($selector, '#')) {
    $args: map-set($args, selector-string, str-slice($selector, 2, str-length($selector)));
  } @else {
    $args: map-set($args, selector-string, $selector);
    $selector: #{'.'+$selector};
  }

  @return map-set($args, selector, $selector);
}

@function box-values($values: null) {

  @if ($values == null) {
    @return (top:0, right:0, bottom:0, left:0);
  }

  @if (is-list($values) == false) {
    $values: ($values);
  }

  $length: length($values);
  $top: nth($values, 1);

  @if ($length==1) {
    @return (top: $top, right: $top, bottom: $top, left: $top);
  }
  @if ($length==2) {
    $right: nth($values, 2);
    @return (top: $top, right: $right, bottom: $top, left: $right);
  }

  $right: nth($values, 2);
  $bottom: nth($values, 3);
  $left: nth($values, 4);

  @return (top: $top, right: $right, bottom: $bottom, left: $left);
}

// todo: can't remember why made todo
@function border-each-values($values:null) {
  @if ($values == null) {
    @return (style: 0, width: 0, color:0);
  }
}

@function border-values($values: null) {
  @if ($values == null) {
    @return (
            top: border-each-values(),
            bottom: border-each-values(),
            right: border-each-values(),
            left: border-each-values()
    );
  }
}

@function has-key($value, $key) {
  @if is-list($value) {
    @return not (not index($value, $key));
  } @else if is-map($value) {
    @return map-has-key($value, $key);
  } @else {
    @return not (not str-index(inspect($value), $key));
  }
}

/// random value of list or map
/// @param {list|map} $value
@function rand($value) {
  @if is-map($value) {
    $keys: map-keys($value);
    $key: nth($keys, random(length($keys)));
    @return map-get($value, $key);
  } @else {
    @return nth($value, length($value));
  }
}

/// generate random string
/// @param {number} $size the string length
/// @return {string}
@function rand-string($size: 30) {
  $result: rand($DOT-ALPHABETS);
  $size: $size - 1;
  $length: length($DOT-CHARS);
  @while ($size > 0) {
    $result: $result + nth($DOT-CHARS, random($length));
    $size: $size - 1;
  }
  @return $result;
}


/// get empty map
/// todo: move
@function map() {
  @return map-remove(('x': 'x'), 'x');
}

/// get list with single item
/// todo: move dir
@function list($value) {
  @if type-of($value) == 'list' {
    @return $value;
  }
  @return append((), $value);
}

/// get argument string from functional syntax
@function get-argument($method-string) {
  $start: str-index($method-string, '(');
  $end: str-index($method-string, ')');
  @if $start > 0 and $end > 0 {
    @return str-slice($method-string, $start + 1, $end - 1);
  }
  @return $method-string;
}

/// merge properties for list as like transform
@function merge-properties($property-groups...) {
  @if length($property-groups) == 1 {
    @return nth($property-groups, 1);
  }

  $merged-properties: map();
  $transform: map();
  $translate: ();

  @each $properties in $property-groups {

    @each $property, $value in $properties {
      @if $property == 'transform' {
        $value: list($value);
        @each $method in $value {
          @if starts-with($method, 'translateX') {
            $amount: get-argument($method);
            $translate: map-merge($translate, ('x': $amount));
          } @else if starts-with($method, 'translateY') {
            $amount: get-argument($method);
            $translate: map-merge($translate, ('y': $amount));
          } @else if starts-with($method, 'translate') {
            $amounts: get-argument($method);
            $amounts: str-split($amounts, ',');
            $translate: map-merge($translate, (
                    'x': nth($amounts, 1),
                    'y': nth($amounts, 2)
            ));
          } @else {
            $transform: append($transform, $value);
          }
        }
        // $transform: map-merge($transform, ('transform': $value));
      } @else {
        $merged-properties: map-merge($merged-properties, ($property: $value));
      }
    }
  }

  @if $translate {
    $x: map-get($translate, 'x');
    $y: map-get($translate, 'y');
    @if $x {
      @if $y {
        $transform: append($transform, #{'translate('+$x+', '+$y+')'})
      } @else {
        $transform: append($transform, #{'translateX('+$x+')'})
      }
    } @else if $y {
      $transform: append($transform, #{'translateY('+$y+')'})
    }
  }

  @if length($transform) > 0 {
    $merged-properties: map-merge($merged-properties, ('transform': $transform));
  }

  @return $merged-properties;
}

/// Declare properties from map.
/// @description
///   Duplicate attributes use later values.
@mixin properties($property-groups...) {
  $property-groups: merge-properties($property-groups...);
  @if type-of($property-groups) == 'map' {
    @each $property, $value in $property-groups {
      #{$property}: #{$value};
    }
  } @else {
    @each $properties in $property-groups {
      @each $property, $value in $properties {
        #{$property}: #{$value};
      }
    }
  }
}