$DOT-LAYOUT-MAX-WIDTH-KEY: 18 !default;
$DOT-LAYOUT-MAX-WIDTH: 9999 !default;
$DOT-LAYOUT-MIN-WIDTH: 320 !default;
$DOT-LAYOUT-DEFAULT-WIDTH: 1000 !default;
$DOT-LAYOUT-DEFAULT-SIDE: 22 !default;
$DOT-LAYOUT-STICKY-RESIZE: true;